## Extracting Data from Email

### Extracting and seperating the HTML body and email headers

In [1]:
# Import libraries
import email
from email.policy import default
from requests_html import HTML
import pandas as pd
import datetime
import numpy as np
import os

In [2]:
# Open eml email file as an email.message type object
with open('ASDA emails\Your updated ASDA Groceries order.eml', 'r') as file:
   
   msg = email.message_from_file(file, policy=default)

In [3]:
# Extract the parts of the message and enter it into a dictionary
body = msg.get_payload(decode=True)
dict = {'to': msg['to'], 'from': msg['from'], 'subject': msg['subject'], 'date': msg['date'], 'body': body}
print('To: {}'.format(msg['to']))
print('From: {}'.format(msg['from']))
print('Date: {}'.format(msg['date']))
print('Subject: {}'.format(msg['subject']))

To: "example@email.com" <example@email.com>
From: ASDA Customer Services <home.shopping@asda.co.uk>
Date: Thu, 26 Mar 2020 06:40:04 +0100
Subject: Your updated ASDA Groceries order

### Converting HTML body to text

In [4]:
#Grab the HTML from the body of the email and extract the table element
html = HTML(html=body)

match = html.find('tr')
print(match)

[<Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >]

In [5]:
# The tr element is a repeat of the same content, so only the first element is needed
print(match[0].text)

Order Number:
012345678910
Delivery Date:
26 Mar 2020 11:00 AM-01:00 PM
Delivery Note
Hi Richard,

Your order has been picked and is being prepared for delivery. Your order details are listed below. Visit your order detail page for updates on your delivery time.

If you're unhappy with any of your products, simply hand them back to your driver for a full refund.



Order Details


Substitutes
Qty
Price
ASDA Simply Cook Smoked Crispy Bacon 60g
Substitute for 1 X ASDA Diced Pancetta Twin Pack 160g
1
£1.30
ASDA 2 Crisp Crumb Chunky Cod Fillets 350g
Substitute for 1 X Young's 6 Chunky Fish Fillets in Crispy Breadcrumbs 690g
1
£3.20
Yeo Valley Strawberry Yogurt 450g
Substitute for 1 X Arla Skyr Strawberry Yogurt 450g
1
£1.40
ASDA 18 Battered Chicken Breast Chunks 350g
Substitute for 1 X ASDA Crispy Chicken Breast Strips 400g
1
£2.50
New York Bakery Co The Original Plain Bagels 5pk
Substitute for 1 X ASDA Plain Bagels 4pk
1
£0.69
ASDA Creamy Tomato Pasta Bake 500g
Substitute for 1 X ASDA Tomato and Bacon Pasta Bake 480g
1
£0.75
ASDA Butcher's Selection 8 Pork Loin Steaks 800g
Substitute for 1 X ASDA Butcher's Selection Pork Boneless & Rindless Loin Joint 700g
1
£3.90
ASDA GS Honeydew Melon EACH
Substitute for 1 X ASDA Grower's Selection Cantaloupe Melon each
1
£1.69
ASDA Mexican Style Plain Tortillas 8pk
Substitute for 1 X ASDA 10 Mini Plain Tortillas 300g
1
£1.00


Unavailable
Qty
Price
ASDA Peppercorn Sauce 200g
1
£0.00
ASDA Fusilli 500g
3
£0.00
ASDA Conchiglie 500g
1
£0.00
ASDA 6 Medium Free Range Eggs 6pk
1
£0.00
George Home Plastic Food Storers 3x1l
1
£0.00


Ordered
Qty
Price
Chilled
ASDA Butcher's Selection Beef Mince (Typically Less Than 20% Fat) 500g

1
£1.59
ASDA Butcher's Selection Prime Beef Ribeye Steak 227g

2
£6.50
ASDA Butcher's Selection Lean Beef Mince (Typically Less Than 5% Fat) 500g

1
£2.97
ASDA Grower's Selection Carrots 500g

1
£0.33
ASDA Crispy Potato Slices 300g

1
£0.85
ASDA Butcher's Selection Chicken Breast Fillets 1kg

1
£5.19
Cadbury Pots of Joy Dairy Milk Chocolate Dessert 4x65g

2
£2.00
ASDA Thick Dry Cured Honey Roast Ham Slices 150g

1
£1.90
ASDA Simple to Cook Bourbon Beef Brisket 400g

1
£3.90
Arla Skyr Vanilla Yogurt 450g

1
£1.40
ASDA Grated Mozzarella Cheese 250g

1
£1.75
ASDA Butcher's Selection Diced Beef 475g

1
£3.80
ASDA Grated Four Cheese Blend 200g

1
£1.75
Products By Weight
ASDA Farm Stores White Potatoes 2kg

1
£1.00
Frozen
Aunt Bessie's 10 Dumplings 490g

1
£1.00
Richmond 20 Thick Frozen Pork Sausages 907g

1
£2.50
ASDA 4 Buttermilk Chicken Breast Fillet Burgers 400g

1
£2.50
Groceries, Health & Beauty and Household Items
Maltesers Bunnies Large Chocolate Easter Egg 265g

1
£4.00
Cadbury Dairy Milk Caramel Gift Boxed Giant Easter Egg 311g

1
£4.00
ASDA No Added Sugar Apple & Blackcurrant Squash 1.5l

1
£0.95
Pepsi Max Raspberry Cans 8x330

1
£3.75
Pepsi Max Cherry Cans 8x330

1
£3.75
ASDA Butter Chicken Curry Sauce 495g

1
£0.79
ASDA Grower's Selection Baby Potatoes 1kg

1
£0.80
ASDA Mint Sauce 280g

1
£0.83
Weetabix Crispy Minis Chocolate Chip 600g

1
£2.98
ASDA Bolognese Pasta Sauce 720g

1
£0.84
Patak's Korma Curry Sauce 450g

1
£1.00
ASDA Taco Seasoning 35g

2
£1.24
ASDA Taco Shells 150g

1
£1.30
ASDA Jam & Creams 150g

1
£0.45
ASDA Extra Special Hand Finished Salted Caramel & Chocolate Cake each

1
£1.85
Kellogg's Coco Pops 480g

1
£2.89


Multibuy Savings
Savings
Easter Eggs - 2 for ������7.00
-£1.0
CEREALS - 2 FOR ������4.00
-£1.87
SLICED AND GRATED CHEESE - 2 FOR ������3
-£0.5
BIG POT YOGURTS - 2 FOR ������2.00
-£0.8
FRESH MEAT - 3 FOR ������10
-£2.5


Subtotal*
Pick and Pack
Minimum basket charge
eVouchers
Multibuy Savings
£89.68
£0.00
£0.00
- £0.00
- £6.67
Total
£83.01
* Please note: for items sold by weight, the exact price may vary depending on the weight of items available.
123 Fake Street, City, GB
26 Mar 2020 11:00 AM-01:00 PM


Regards,
ASDA Online Groceries Team
Contact Us
FAQs

CHALLENGE 25
As part of the Challenge 25 initiative we may need to check your date of Birth when we deliver to your address. As our minimum order age is 18, this applies to all online grocery orders, regardless of whether age restricted products are present in the order.

Please do not reply to this email.
If you'd like to get in touch, please call our customer services team on 0800 952 0101. Calls are free from a BT landline, calls from other service providers and mobile networks may vary. Lines are open Monday to Saturday 07:00 - 23:00 and Sunday 08:00 - 22:00.

This email and any files transmitted with it are confidential and intended solely for the individual or entity to whom they are addressed. If you have received this email in error please accept our apologies & destroy it immediately.

This is a service message from Asda Stores Ltd, Registered in England No. 464777.
Registered Office: Asda House, Southbank, Great Wilson Street, Leeds LS11 5AD
ASDA 2018
Terms & Conditions ⋅ Privacy & Cookies Policy

### Converting body to list and manipulating lists

In [6]:
# Get the content of the email body from the tr element above. Then sperate into lines
content = match[0].text

lines = content.splitlines()

In [7]:
# List the content of the list lines with the index number
for i, line in enumerate(lines):
    print(i, line)

0 Order Number:
1 012345678910
2 Delivery Date:
3 26 Mar 2020 11:00 AM-01:00 PM
4 Delivery Note
5 Hi Richard,
6
7 Your order has been picked and is being prepared for delivery. Your order details are listed below. Visit your order detail page for updates on your delivery time.
8
9 If you're unhappy with any of your products, simply hand them back to your driver for a full refund.
10
11
12
13 Order Details
14
15
16 Substitutes
17 Qty
18 Price
19 ASDA Simply Cook Smoked Crispy Bacon 60g
20 Substitute for 1 X ASDA Diced Pancetta Twin Pack 160g
21 1
22 £1.30
23 ASDA 2 Crisp Crumb Chunky Cod Fillets 350g
24 Substitute for 1 X Young's 6 Chunky Fish Fillets in Crispy Breadcrumbs 690g
25 1
26 £3.20
27 Yeo Valley Strawberry Yogurt 450g
28 Substitute for 1 X Arla Skyr Strawberry Yogurt 450g
29 1
30 £1.40
31 ASDA 18 Battered Chicken Breast Chunks 350g
32 Substitute for 1 X ASDA Crispy Chicken Breast Strips 400g
33 1
34 £2.50
35 New York Bakery Co The Original Plain Bagels 5pk
36 Substitute for 1 X ASDA Plain Bagels 4pk
37 1
38 £0.69
39 ASDA Creamy Tomato Pasta Bake 500g
40 Substitute for 1 X ASDA Tomato and Bacon Pasta Bake 480g
41 1
42 £0.75
43 ASDA Butcher's Selection 8 Pork Loin Steaks 800g
44 Substitute for 1 X ASDA Butcher's Selection Pork Boneless & Rindless Loin Joint 700g
45 1
46 £3.90
47 ASDA GS Honeydew Melon EACH
48 Substitute for 1 X ASDA Grower's Selection Cantaloupe Melon each
49 1
50 £1.69
51 ASDA Mexican Style Plain Tortillas 8pk
52 Substitute for 1 X ASDA 10 Mini Plain Tortillas 300g
53 1
54 £1.00
55
56
57 Unavailable
58 Qty
59 Price
60 ASDA Peppercorn Sauce 200g
61 1
62 £0.00
63 ASDA Fusilli 500g
64 3
65 £0.00
66 ASDA Conchiglie 500g
67 1
68 £0.00
69 ASDA 6 Medium Free Range Eggs 6pk
70 1
71 £0.00
72 George Home Plastic Food Storers 3x1l
73 1
74 £0.00
75
76
77 Ordered
78 Qty
79 Price
80 Chilled
81 ASDA Butcher's Selection Beef Mince (Typically Less Than 20% Fat) 500g
82
83 1
84 £1.59
85 ASDA Butcher's Selection Prime Beef Ribeye Steak 227g
86
87 2
88 £6.50
89 ASDA Butcher's Selection Lean Beef Mince (Typically Less Than 5% Fat) 500g
90
91 1
92 £2.97
93 ASDA Grower's Selection Carrots 500g
94
95 1
96 £0.33
97 ASDA Crispy Potato Slices 300g
98
99 1
100 £0.85
101 ASDA Butcher's Selection Chicken Breast Fillets 1kg
102
103 1
104 £5.19
105 Cadbury Pots of Joy Dairy Milk Chocolate Dessert 4x65g
106
107 2
108 £2.00
109 ASDA Thick Dry Cured Honey Roast Ham Slices 150g
110
111 1
112 £1.90
113 ASDA Simple to Cook Bourbon Beef Brisket 400g
114
115 1
116 £3.90
117 Arla Skyr Vanilla Yogurt 450g
118
119 1
120 £1.40
121 ASDA Grated Mozzarella Cheese 250g
122
123 1
124 £1.75
125 ASDA Butcher's Selection Diced Beef 475g
126
127 1
128 £3.80
129 ASDA Grated Four Cheese Blend 200g
130
131 1
132 £1.75
133 Products By Weight
134 ASDA Farm Stores White Potatoes 2kg
135
136 1
137 £1.00
138 Frozen
139 Aunt Bessie's 10 Dumplings 490g
140
141 1
142 £1.00
143 Richmond 20 Thick Frozen Pork Sausages 907g
144
145 1
146 £2.50
147 ASDA 4 Buttermilk Chicken Breast Fillet Burgers 400g
148
149 1
150 £2.50
151 Groceries, Health & Beauty and Household Items
152 Maltesers Bunnies Large Chocolate Easter Egg 265g
153
154 1
155 £4.00
156 Cadbury Dairy Milk Caramel Gift Boxed Giant Easter Egg 311g
157
158 1
159 £4.00
160 ASDA No Added Sugar Apple & Blackcurrant Squash 1.5l
161
162 1
163 £0.95
164 Pepsi Max Raspberry Cans 8x330
165
166 1
167 £3.75
168 Pepsi Max Cherry Cans 8x330
169
170 1
171 £3.75
172 ASDA Butter Chicken Curry Sauce 495g
173
174 1
175 £0.79
176 ASDA Grower's Selection Baby Potatoes 1kg
177
178 1
179 £0.80
180 ASDA Mint Sauce 280g
181
182 1
183 £0.83
184 Weetabix Crispy Minis Chocolate Chip 600g
185
186 1
187 £2.98
188 ASDA Bolognese Pasta Sauce 720g
189
190 1
191 £0.84
192 Patak's Korma Curry Sauce 450g
193
194 1
195 £1.00
196 ASDA Taco Seasoning 35g
197
198 2
199 £1.24
200 ASDA Taco Shells 150g
201
202 1
203 £1.30
204 ASDA Jam & Creams 150g
205
206 1
207 £0.45
208 ASDA Extra Special Hand Finished Salted Caramel & Chocolate Cake each
209
210 1
211 £1.85
212 Kellogg's Coco Pops 480g
213
214 1
215 £2.89
216
217
218 Multibuy Savings
219 Savings
220 Easter Eggs - 2 for ������7.00
221 -£1.0
222 CEREALS - 2 FOR ������4.00
223 -£1.87
224 SLICED AND GRATED CHEESE - 2 FOR ������3
225 -£0.5
226 BIG POT YOGURTS - 2 FOR ������2.00
227 -£0.8
228 FRESH MEAT - 3 FOR ������10
229 -£2.5
230
231
232 Subtotal*
233 Pick and Pack
234 Minimum basket charge
235 eVouchers
236 Multibuy Savings
237 £89.68
238 £0.00
239 £0.00
240 - £0.00
241 - £6.67
242 Total
243 £83.01
244 * Please note: for items sold by weight, the exact price may vary depending on the weight of items available.
245 123 Fake Street, City, GB
246 26 Mar 2020 11:00 AM-01:00 PM
247
248
249 Regards,
250 ASDA Online Groceries Team
251 Contact Us
252 FAQs
253
254 CHALLENGE 25
255 As part of the Challenge 25 initiative we may need to check your date of Birth when we deliver to your address. As our minimum order age is 18, this applies to all online grocery orders, regardless of whether age restricted products are present in the order.
256
257 Please do not reply to this email.
258 If you'd like to get in touch, please call our customer services team on 0800 952 0101. Calls are free from a BT landline, calls from other service providers and mobile networks may vary. Lines are open Monday to Saturday 07:00 - 23:00 and Sunday 08:00 - 22:00.
259
260 This email and any files transmitted with it are confidential and intended solely for the individual or entity to whom they are addressed. If you have received this email in error please accept our apologies & destroy it immediately.
261
262 This is a service message from Asda Stores Ltd, Registered in England No. 464777.
263 Registered Office: Asda House, Southbank, Great Wilson Street, Leeds LS11 5AD
264 ASDA 2018
265 Terms & Conditions ⋅ Privacy & Cookies Policy

In [8]:
# Extract the order number, delivery date, subtotal and total
order_number_str = lines[1]
delivery_date_str = lines[3]

# The value of the order total is on the line below the total header
total_str = lines[lines.index('Total') + 1]

# The value of the subtotal is 5 lines below the subtotal header
subtotal_str = lines[lines.index('Subtotal*') + 5]

print('Order Number :', order_number_str, type(order_number_str))
print('Delivery Date:', delivery_date_str, type(delivery_date_str))
print('Subtotal is  :', subtotal_str, type(subtotal_str))
print('Total is     :', total_str, type(total_str))

Order Number : 012345678910 <class 'str'>
Delivery Date: 26 Mar 2020 11:00 AM-01:00 PM <class 'str'>
Subtotal is  : £89.68 <class 'str'>
Total is     : £83.01 <class 'str'>

In [10]:
# Converting strings above to other data types

#Convert delivery date string to date object, by slicing to just date part and then converting
delivery_date_str = delivery_date_str[0:11]
print(delivery_date_str)

delivery_date = datetime.datetime.strptime(delivery_date_str, '%d %b %Y').date()
print('Delivery Date:', delivery_date, type(delivery_date))

# Converting order number to a integer
order_number = int(order_number_str)
print('Order Number :', order_number, type(order_number))

#Converting Subtotal and total to float
def convert_str_price_to_float(x):
    x = x[1:]
    return float(x)

subtotal = convert_str_price_to_float(subtotal_str)
print('Subtotal     :', subtotal, type(subtotal))

total = convert_str_price_to_float(total_str)
print('Total        :', total, type(total))

26 Mar 2020
Delivery Date: 2020-03-26 <class 'datetime.date'>
Order Number : 12345678910 <class 'int'>
Subtotal     : 89.68 <class 'float'>
Total        : 83.01 <class 'float'>

In [11]:
# Selecting the block of text after the Substitutes header

# Start_substitutes finds the index of the line containing the Substitutes header
start_substitutes = lines.index('Substitutes')

# We skip theqty and price labels by starting the loop 3 lines below the substitutes header
# The loop ends before the first empty space
i = start_substitutes + 3
while len(lines[i]) > 0 :
    print(lines[i])
    i += 1

ASDA Simply Cook Smoked Crispy Bacon 60g
Substitute for 1 X ASDA Diced Pancetta Twin Pack 160g
1
£1.30
ASDA 2 Crisp Crumb Chunky Cod Fillets 350g
Substitute for 1 X Young's 6 Chunky Fish Fillets in Crispy Breadcrumbs 690g
1
£3.20
Yeo Valley Strawberry Yogurt 450g
Substitute for 1 X Arla Skyr Strawberry Yogurt 450g
1
£1.40
ASDA 18 Battered Chicken Breast Chunks 350g
Substitute for 1 X ASDA Crispy Chicken Breast Strips 400g
1
£2.50
New York Bakery Co The Original Plain Bagels 5pk
Substitute for 1 X ASDA Plain Bagels 4pk
1
£0.69
ASDA Creamy Tomato Pasta Bake 500g
Substitute for 1 X ASDA Tomato and Bacon Pasta Bake 480g
1
£0.75
ASDA Butcher's Selection 8 Pork Loin Steaks 800g
Substitute for 1 X ASDA Butcher's Selection Pork Boneless & Rindless Loin Joint 700g
1
£3.90
ASDA GS Honeydew Melon EACH
Substitute for 1 X ASDA Grower's Selection Cantaloupe Melon each
1
£1.69
ASDA Mexican Style Plain Tortillas 8pk
Substitute for 1 X ASDA 10 Mini Plain Tortillas 300g
1
£1.00

In [12]:
# This groups the lines into a new substitutes list which is made up of a tuple of 4 elements
i = start_substitutes + 3
substitutes = []
while len(lines[i]) > 0 :
    substitutes.append((lines[i], lines[i + 1], lines[i + 2], lines[i + 3]))
    i += 4
print(substitutes)

[('ASDA Simply Cook Smoked Crispy Bacon 60g', 'Substitute for 1 X ASDA Diced Pancetta Twin Pack 160g', '1', '£1.30'), ('ASDA 2 Crisp Crumb Chunky Cod Fillets 350g', "Substitute for 1 X Young's 6 Chunky Fish Fillets in Crispy Breadcrumbs 690g", '1', '£3.20'), ('Yeo Valley Strawberry Yogurt 450g', 'Substitute for 1 X Arla Skyr Strawberry Yogurt 450g', '1', '£1.40'), ('ASDA 18 Battered Chicken Breast Chunks 350g', 'Substitute for 1 X ASDA Crispy Chicken Breast Strips 400g', '1', '£2.50'), ('New York Bakery Co The Original Plain Bagels 5pk', 'Substitute for 1 X ASDA Plain Bagels 4pk', '1', '£0.69'), ('ASDA Creamy Tomato Pasta Bake 500g', 'Substitute for 1 X ASDA Tomato and Bacon Pasta Bake 480g', '1', '£0.75'), ("ASDA Butcher's Selection 8 Pork Loin Steaks 800g", "Substitute for 1 X ASDA Butcher's Selection Pork Boneless & Rindless Loin Joint 700g", '1', '£3.90'), ('ASDA GS Honeydew Melon EACH', "Substitute for 1 X ASDA Grower's Selection Cantaloupe Melon each", '1', '£1.69'), ('ASDA Mexican Style Plain Tortillas 8pk', 'Substitute for 1 X ASDA 10 Mini Plain Tortillas 300g', '1', '£1.00')]

In [13]:
# finds unavailable section
start_unavailable = lines.index('Unavailable')

i = start_unavailable + 3
while len(lines[i]) > 0 :
    print(lines[i])
    i += 1

ASDA Peppercorn Sauce 200g
1
£0.00
ASDA Fusilli 500g
3
£0.00
ASDA Conchiglie 500g
1
£0.00
ASDA 6 Medium Free Range Eggs 6pk
1
£0.00
George Home Plastic Food Storers 3x1l
1
£0.00

In [14]:
# This packs the unavailable section into a list of tuples
i = start_unavailable + 3
unavailable = []
while len(lines[i]) > 0 :
    unavailable.append((lines[i], lines[i + 1], lines[i + 2]))
    i += 3
print(unavailable)

[('ASDA Peppercorn Sauce 200g', '1', '£0.00'), ('ASDA Fusilli 500g', '3', '£0.00'), ('ASDA Conchiglie 500g', '1', '£0.00'), ('ASDA 6 Medium Free Range Eggs 6pk', '1', '£0.00'), ('George Home Plastic Food Storers 3x1l', '1', '£0.00')]

In [15]:
# We can find the start and end of the ordered section
start_ordered = lines.index('Ordered')

end_ordered = lines.index('Multibuy Savings')

i = start_ordered + 3
while i < end_ordered :
    print(lines[i])
    i += 1

Chilled
ASDA Butcher's Selection Beef Mince (Typically Less Than 20% Fat) 500g

1
£1.59
ASDA Butcher's Selection Prime Beef Ribeye Steak 227g

2
£6.50
ASDA Butcher's Selection Lean Beef Mince (Typically Less Than 5% Fat) 500g

1
£2.97
ASDA Grower's Selection Carrots 500g

1
£0.33
ASDA Crispy Potato Slices 300g

1
£0.85
ASDA Butcher's Selection Chicken Breast Fillets 1kg

1
£5.19
Cadbury Pots of Joy Dairy Milk Chocolate Dessert 4x65g

2
£2.00
ASDA Thick Dry Cured Honey Roast Ham Slices 150g

1
£1.90
ASDA Simple to Cook Bourbon Beef Brisket 400g

1
£3.90
Arla Skyr Vanilla Yogurt 450g

1
£1.40
ASDA Grated Mozzarella Cheese 250g

1
£1.75
ASDA Butcher's Selection Diced Beef 475g

1
£3.80
ASDA Grated Four Cheese Blend 200g

1
£1.75
Products By Weight
ASDA Farm Stores White Potatoes 2kg

1
£1.00
Frozen
Aunt Bessie's 10 Dumplings 490g

1
£1.00
Richmond 20 Thick Frozen Pork Sausages 907g

1
£2.50
ASDA 4 Buttermilk Chicken Breast Fillet Burgers 400g

1
£2.50
Groceries, Health & Beauty and Household Items
Maltesers Bunnies Large Chocolate Easter Egg 265g

1
£4.00
Cadbury Dairy Milk Caramel Gift Boxed Giant Easter Egg 311g

1
£4.00
ASDA No Added Sugar Apple & Blackcurrant Squash 1.5l

1
£0.95
Pepsi Max Raspberry Cans 8x330

1
£3.75
Pepsi Max Cherry Cans 8x330

1
£3.75
ASDA Butter Chicken Curry Sauce 495g

1
£0.79
ASDA Grower's Selection Baby Potatoes 1kg

1
£0.80
ASDA Mint Sauce 280g

1
£0.83
Weetabix Crispy Minis Chocolate Chip 600g

1
£2.98
ASDA Bolognese Pasta Sauce 720g

1
£0.84
Patak's Korma Curry Sauce 450g

1
£1.00
ASDA Taco Seasoning 35g

2
£1.24
ASDA Taco Shells 150g

1
£1.30
ASDA Jam & Creams 150g

1
£0.45
ASDA Extra Special Hand Finished Salted Caramel & Chocolate Cake each

1
£1.85
Kellogg's Coco Pops 480g

1
£2.89

In [16]:
# Creating a list for the ordered section
i = start_ordered + 3
ordered = []
while i < end_ordered :
    ordered.append(lines[i])
    i += 1
    
print(ordered)

['Chilled', "ASDA Butcher's Selection Beef Mince (Typically Less Than 20% Fat) 500g", '', '1', '£1.59', "ASDA Butcher's Selection Prime Beef Ribeye Steak 227g", '', '2', '£6.50', "ASDA Butcher's Selection Lean Beef Mince (Typically Less Than 5% Fat) 500g", '', '1', '£2.97', "ASDA Grower's Selection Carrots 500g", '', '1', '£0.33', 'ASDA Crispy Potato Slices 300g', '', '1', '£0.85', "ASDA Butcher's Selection Chicken Breast Fillets 1kg", '', '1', '£5.19', 'Cadbury Pots of Joy Dairy Milk Chocolate Dessert 4x65g', '', '2', '£2.00', 'ASDA Thick Dry Cured Honey Roast Ham Slices 150g', '', '1', '£1.90', 'ASDA Simple to Cook Bourbon Beef Brisket 400g', '', '1', '£3.90', 'Arla Skyr Vanilla Yogurt 450g', '', '1', '£1.40', 'ASDA Grated Mozzarella Cheese 250g', '', '1', '£1.75', "ASDA Butcher's Selection Diced Beef 475g", '', '1', '£3.80', 'ASDA Grated Four Cheese Blend 200g', '', '1', '£1.75', 'Products By Weight', 'ASDA Farm Stores White Potatoes 2kg', '', '1', '£1.00', 'Frozen', "Aunt Bessie's 10 Dumplings 490g", '', '1', '£1.00', 'Richmond 20 Thick Frozen Pork Sausages 907g', '', '1', '£2.50', 'ASDA 4 Buttermilk Chicken Breast Fillet Burgers 400g', '', '1', '£2.50', 'Groceries, Health & Beauty and Household Items', 'Maltesers Bunnies Large Chocolate Easter Egg 265g', '', '1', '£4.00', 'Cadbury Dairy Milk Caramel Gift Boxed Giant Easter Egg 311g', '', '1', '£4.00', 'ASDA No Added Sugar Apple & Blackcurrant Squash 1.5l', '', '1', '£0.95', 'Pepsi Max Raspberry Cans 8x330', '', '1', '£3.75', 'Pepsi Max Cherry Cans 8x330', '', '1', '£3.75', 'ASDA Butter Chicken Curry Sauce 495g', '', '1', '£0.79', "ASDA Grower's Selection Baby Potatoes 1kg", '', '1', '£0.80', 'ASDA Mint Sauce 280g', '', '1', '£0.83', 'Weetabix Crispy Minis Chocolate Chip 600g', '', '1', '£2.98', 'ASDA Bolognese Pasta Sauce 720g', '', '1', '£0.84', "Patak's Korma Curry Sauce 450g", '', '1', '£1.00', 'ASDA Taco Seasoning 35g', '', '2', '£1.24', 'ASDA Taco Shells 150g', '', '1', '£1.30', 'ASDA Jam & Creams 150g', '', '1', '£0.45', 'ASDA Extra Special Hand Finished Salted Caramel & Chocolate Cake each', '', '1', '£1.85', "Kellogg's Coco Pops 480g", '', '1', '£2.89', '', '']

In [17]:
# Remove blank list elements
ordered = list(filter(None, ordered))
print(ordered)

['Chilled', "ASDA Butcher's Selection Beef Mince (Typically Less Than 20% Fat) 500g", '1', '£1.59', "ASDA Butcher's Selection Prime Beef Ribeye Steak 227g", '2', '£6.50', "ASDA Butcher's Selection Lean Beef Mince (Typically Less Than 5% Fat) 500g", '1', '£2.97', "ASDA Grower's Selection Carrots 500g", '1', '£0.33', 'ASDA Crispy Potato Slices 300g', '1', '£0.85', "ASDA Butcher's Selection Chicken Breast Fillets 1kg", '1', '£5.19', 'Cadbury Pots of Joy Dairy Milk Chocolate Dessert 4x65g', '2', '£2.00', 'ASDA Thick Dry Cured Honey Roast Ham Slices 150g', '1', '£1.90', 'ASDA Simple to Cook Bourbon Beef Brisket 400g', '1', '£3.90', 'Arla Skyr Vanilla Yogurt 450g', '1', '£1.40', 'ASDA Grated Mozzarella Cheese 250g', '1', '£1.75', "ASDA Butcher's Selection Diced Beef 475g", '1', '£3.80', 'ASDA Grated Four Cheese Blend 200g', '1', '£1.75', 'Products By Weight', 'ASDA Farm Stores White Potatoes 2kg', '1', '£1.00', 'Frozen', "Aunt Bessie's 10 Dumplings 490g", '1', '£1.00', 'Richmond 20 Thick Frozen Pork Sausages 907g', '1', '£2.50', 'ASDA 4 Buttermilk Chicken Breast Fillet Burgers 400g', '1', '£2.50', 'Groceries, Health & Beauty and Household Items', 'Maltesers Bunnies Large Chocolate Easter Egg 265g', '1', '£4.00', 'Cadbury Dairy Milk Caramel Gift Boxed Giant Easter Egg 311g', '1', '£4.00', 'ASDA No Added Sugar Apple & Blackcurrant Squash 1.5l', '1', '£0.95', 'Pepsi Max Raspberry Cans 8x330', '1', '£3.75', 'Pepsi Max Cherry Cans 8x330', '1', '£3.75', 'ASDA Butter Chicken Curry Sauce 495g', '1', '£0.79', "ASDA Grower's Selection Baby Potatoes 1kg", '1', '£0.80', 'ASDA Mint Sauce 280g', '1', '£0.83', 'Weetabix Crispy Minis Chocolate Chip 600g', '1', '£2.98', 'ASDA Bolognese Pasta Sauce 720g', '1', '£0.84', "Patak's Korma Curry Sauce 450g", '1', '£1.00', 'ASDA Taco Seasoning 35g', '2', '£1.24', 'ASDA Taco Shells 150g', '1', '£1.30', 'ASDA Jam & Creams 150g', '1', '£0.45', 'ASDA Extra Special Hand Finished Salted Caramel & Chocolate Cake each', '1', '£1.85', "Kellogg's Coco Pops 480g", '1', '£2.89']

In [18]:
# Create a new list without the category headings
categories = ['Chilled', 'Products By Weight', 'Frozen', 'Groceries, Health & Beauty and Household Items', 'Others', 'Other']

ordered_items = []
for element in ordered:
    if element in categories:
        pass
    else:
        ordered_items.append(element)
print(ordered_items)

["ASDA Butcher's Selection Beef Mince (Typically Less Than 20% Fat) 500g", '1', '£1.59', "ASDA Butcher's Selection Prime Beef Ribeye Steak 227g", '2', '£6.50', "ASDA Butcher's Selection Lean Beef Mince (Typically Less Than 5% Fat) 500g", '1', '£2.97', "ASDA Grower's Selection Carrots 500g", '1', '£0.33', 'ASDA Crispy Potato Slices 300g', '1', '£0.85', "ASDA Butcher's Selection Chicken Breast Fillets 1kg", '1', '£5.19', 'Cadbury Pots of Joy Dairy Milk Chocolate Dessert 4x65g', '2', '£2.00', 'ASDA Thick Dry Cured Honey Roast Ham Slices 150g', '1', '£1.90', 'ASDA Simple to Cook Bourbon Beef Brisket 400g', '1', '£3.90', 'Arla Skyr Vanilla Yogurt 450g', '1', '£1.40', 'ASDA Grated Mozzarella Cheese 250g', '1', '£1.75', "ASDA Butcher's Selection Diced Beef 475g", '1', '£3.80', 'ASDA Grated Four Cheese Blend 200g', '1', '£1.75', 'ASDA Farm Stores White Potatoes 2kg', '1', '£1.00', "Aunt Bessie's 10 Dumplings 490g", '1', '£1.00', 'Richmond 20 Thick Frozen Pork Sausages 907g', '1', '£2.50', 'ASDA 4 Buttermilk Chicken Breast Fillet Burgers 400g', '1', '£2.50', 'Maltesers Bunnies Large Chocolate Easter Egg 265g', '1', '£4.00', 'Cadbury Dairy Milk Caramel Gift Boxed Giant Easter Egg 311g', '1', '£4.00', 'ASDA No Added Sugar Apple & Blackcurrant Squash 1.5l', '1', '£0.95', 'Pepsi Max Raspberry Cans 8x330', '1', '£3.75', 'Pepsi Max Cherry Cans 8x330', '1', '£3.75', 'ASDA Butter Chicken Curry Sauce 495g', '1', '£0.79', "ASDA Grower's Selection Baby Potatoes 1kg", '1', '£0.80', 'ASDA Mint Sauce 280g', '1', '£0.83', 'Weetabix Crispy Minis Chocolate Chip 600g', '1', '£2.98', 'ASDA Bolognese Pasta Sauce 720g', '1', '£0.84', "Patak's Korma Curry Sauce 450g", '1', '£1.00', 'ASDA Taco Seasoning 35g', '2', '£1.24', 'ASDA Taco Shells 150g', '1', '£1.30', 'ASDA Jam & Creams 150g', '1', '£0.45', 'ASDA Extra Special Hand Finished Salted Caramel & Chocolate Cake each', '1', '£1.85', "Kellogg's Coco Pops 480g", '1', '£2.89']

In [19]:
# Create a list of tuples for the ordered items
i = 0
ordered_clean = []
print(len(ordered_items))

while i < len(ordered_items) :
    ordered_clean.append((ordered_items[i], ordered_items[i + 1], ordered_items[i + 2]))
    i += 3
    
print(ordered_clean)

99
[("ASDA Butcher's Selection Beef Mince (Typically Less Than 20% Fat) 500g", '1', '£1.59'), ("ASDA Butcher's Selection Prime Beef Ribeye Steak 227g", '2', '£6.50'), ("ASDA Butcher's Selection Lean Beef Mince (Typically Less Than 5% Fat) 500g", '1', '£2.97'), ("ASDA Grower's Selection Carrots 500g", '1', '£0.33'), ('ASDA Crispy Potato Slices 300g', '1', '£0.85'), ("ASDA Butcher's Selection Chicken Breast Fillets 1kg", '1', '£5.19'), ('Cadbury Pots of Joy Dairy Milk Chocolate Dessert 4x65g', '2', '£2.00'), ('ASDA Thick Dry Cured Honey Roast Ham Slices 150g', '1', '£1.90'), ('ASDA Simple to Cook Bourbon Beef Brisket 400g', '1', '£3.90'), ('Arla Skyr Vanilla Yogurt 450g', '1', '£1.40'), ('ASDA Grated Mozzarella Cheese 250g', '1', '£1.75'), ("ASDA Butcher's Selection Diced Beef 475g", '1', '£3.80'), ('ASDA Grated Four Cheese Blend 200g', '1', '£1.75'), ('ASDA Farm Stores White Potatoes 2kg', '1', '£1.00'), ("Aunt Bessie's 10 Dumplings 490g", '1', '£1.00'), ('Richmond 20 Thick Frozen Pork Sausages 907g', '1', '£2.50'), ('ASDA 4 Buttermilk Chicken Breast Fillet Burgers 400g', '1', '£2.50'), ('Maltesers Bunnies Large Chocolate Easter Egg 265g', '1', '£4.00'), ('Cadbury Dairy Milk Caramel Gift Boxed Giant Easter Egg 311g', '1', '£4.00'), ('ASDA No Added Sugar Apple & Blackcurrant Squash 1.5l', '1', '£0.95'), ('Pepsi Max Raspberry Cans 8x330', '1', '£3.75'), ('Pepsi Max Cherry Cans 8x330', '1', '£3.75'), ('ASDA Butter Chicken Curry Sauce 495g', '1', '£0.79'), ("ASDA Grower's Selection Baby Potatoes 1kg", '1', '£0.80'), ('ASDA Mint Sauce 280g', '1', '£0.83'), ('Weetabix Crispy Minis Chocolate Chip 600g', '1', '£2.98'), ('ASDA Bolognese Pasta Sauce 720g', '1', '£0.84'), ("Patak's Korma Curry Sauce 450g", '1', '£1.00'), ('ASDA Taco Seasoning 35g', '2', '£1.24'), ('ASDA Taco Shells 150g', '1', '£1.30'), ('ASDA Jam & Creams 150g', '1', '£0.45'), ('ASDA Extra Special Hand Finished Salted Caramel & Chocolate Cake each', '1', '£1.85'), ("Kellogg's Coco Pops 480g", '1', '£2.89')]

### What I have so far

So far I have several pieces of information directly from the email metadata:
1. Recipient email address
2. Sender email address
3. Subject line
4. Date email was sent

Since these are going to remain constant these are not too useful. I also have the date the email was sent.

I converted the HTML body of the email to text. Intially I wanted to parse the HTML to extract the data straight from the HTML body of the email. I found this dificult as when trying to access the tr and td elements of the HTML I was getting all of the body text instead of individual cells. Therefore I decided to manipulate the body of the email by splitting each line down into an element of a list.

From this I have several lists of tuples for each subsection of the email along with a few intital values extract directly from the master list by knowing the index of the line in the list.

Extract directly:
1. Total Cost as a string value
2. Subtotal as a string value
3. Order number as a string value

Lists of tuples:
1. The substitutions sent to replace unavailable items
2. The unavailable items that couldn't be replaced, and so were removed from the order
3. The items that were delivered as ordered

## Manipulating Data

### Converting lists to Pandas DataFrames

In [20]:
# Create substitutions dataframe
df_subs = pd.DataFrame(substitutes, columns = ['Item', 'Substituting', 'Quantity', 'Price'])
df_subs.head()

,Item,Substituting,Quantity,Price
0,ASDA Simply Cook Smoked Crispy Bacon 60g,Substitute for 1 X ASDA Diced Pancetta Twin Pa...,1,£1.30
1,ASDA 2 Crisp Crumb Chunky Cod Fillets 350g,Substitute for 1 X Young's 6 Chunky Fish Fille...,1,£3.20
2,Yeo Valley Strawberry Yogurt 450g,Substitute for 1 X Arla Skyr Strawberry Yogurt...,1,£1.40
3,ASDA 18 Battered Chicken Breast Chunks 350g,Substitute for 1 X ASDA Crispy Chicken Breast ...,1,£2.50
4,New York Bakery Co The Original Plain Bagels 5pk,Substitute for 1 X ASDA Plain Bagels 4pk,1,£0.69

In [21]:
# Creating Unavailable items dataframe
df_unavail = pd.DataFrame(unavailable, columns = ['Item', 'Quantity', 'Price'])
df_unavail.head()

                                    Item Quantity  Price
0             ASDA Peppercorn Sauce 200g        1  £0.00
1                      ASDA Fusilli 500g        3  £0.00
2                   ASDA Conchiglie 500g        1  £0.00
3      ASDA 6 Medium Free Range Eggs 6pk        1  £0.00
4  George Home Plastic Food Storers 3x1l        1  £0.00

In [22]:
# Creating ordered items dataframe
df_ordered = pd.DataFrame(ordered_clean, columns = ['Item', 'Quantity', 'Price'])
df_ordered.head()

                                                Item Quantity  Price
0  ASDA Butcher's Selection Beef Mince (Typically...        1  £1.59
1  ASDA Butcher's Selection Prime Beef Ribeye Ste...        2  £6.50
2  ASDA Butcher's Selection Lean Beef Mince (Typi...        1  £2.97
3               ASDA Grower's Selection Carrots 500g        1  £0.33
4                     ASDA Crispy Potato Slices 300g        1  £0.85

In [23]:
# Creating Dataframe for the order number, delivery date, subtotal and total
order_dict = {'Order Number': order_number,'Delivery Date': delivery_date, 'Subtotal Price': subtotal, 'Total Price': total}

df_order_details = pd.DataFrame.from_dict([order_dict])
df_order_details.head()

   Order Number Delivery Date  Subtotal Price  Total Price
0   12345678910    2020-03-26           89.68        83.01

### What I want the data to look like

I would like to end up with three tables:
1. Table with the ordered items and substitutions. This will list the items that were actually delivered, the price before promotions, the quanitity and the unit price. There will also be a column with the Order Number. This will eventually act as a foreign key so that the items can be linked to an order. The column headers will be as below:

Order Number|Item     |Substitution |Substituting  |Price|Quantity|Unit Price
------------|---------|-------------|--------------|-----|--------|---
12345       |Item Name|1 or 0       |Item replacing|x.xx |y       |x.xx/y
    
    The order number will come from the order_number variable calculated previously. If the record is a substitution a value      of True will be in the Subsitution column and the item it is a substituting will be in the substituting column. The Unit        Price coulmn will be calculated as Price/Quantity.
  
2. The second table will be unavailable products and will look like below:

Order Number|Item|Quantity
---|---|---
    
3. The third table will be the order details column and will look like below:
    
Order Number|Delivery Date|Subtotal Price|Total Price|Count Ordered|Count Substituted|Count Delivered|Sum Quantity|Count Unavailable
------------|-------------|--------------|-----------|-------------|-----------------|---------------|------------|---

### Manipulating the Substitution DataFrame
The Substitutions dataframe currently looks like this:

In [24]:
df_subs.head()

,Item,Substituting,Quantity,Price
0,ASDA Simply Cook Smoked Crispy Bacon 60g,Substitute for 1 X ASDA Diced Pancetta Twin Pa...,1,£1.30
1,ASDA 2 Crisp Crumb Chunky Cod Fillets 350g,Substitute for 1 X Young's 6 Chunky Fish Fille...,1,£3.20
2,Yeo Valley Strawberry Yogurt 450g,Substitute for 1 X Arla Skyr Strawberry Yogurt...,1,£1.40
3,ASDA 18 Battered Chicken Breast Chunks 350g,Substitute for 1 X ASDA Crispy Chicken Breast ...,1,£2.50
4,New York Bakery Co The Original Plain Bagels 5pk,Substitute for 1 X ASDA Plain Bagels 4pk,1,£0.69

List of tasks:
1. Append order number to start of dataframe.
2. Add a Substitution column with a value of True.
3. Clean up the Substituting column to remove the 'Substitution for' part of text.
4. Swap position of Price and Quantity columns. Convert them from strings to numbers.
5. Convert Quantity column to int data type.
6. Convert Price column to a float.
7. Unit price by calculating Price/Quantity.

In [25]:
# Swap Price and quantity columns
col_titles = ['Item', 'Substituting', 'Price', 'Quantity']
df_subs = df_subs.reindex(columns=col_titles)

In [26]:
# Insert Order Number Column
def insert_order_num_col(df):
    df.insert(0, 'Order Number', order_number)
    
insert_order_num_col(df_subs)

In [27]:
df_subs.head()

,Order Number,Item,Substituting,Price,Quantity
0,12345678910,ASDA Simply Cook Smoked Crispy Bacon 60g,Substitute for 1 X ASDA Diced Pancetta Twin Pa...,£1.30,1
1,12345678910,ASDA 2 Crisp Crumb Chunky Cod Fillets 350g,Substitute for 1 X Young's 6 Chunky Fish Fille...,£3.20,1
2,12345678910,Yeo Valley Strawberry Yogurt 450g,Substitute for 1 X Arla Skyr Strawberry Yogurt...,£1.40,1
3,12345678910,ASDA 18 Battered Chicken Breast Chunks 350g,Substitute for 1 X ASDA Crispy Chicken Breast ...,£2.50,1
4,12345678910,New York Bakery Co The Original Plain Bagels 5pk,Substitute for 1 X ASDA Plain Bagels 4pk,£0.69,1

In [28]:
# 3. Remove the substitution for part of substituting column
df_subs['Substituting'] = df_subs['Substituting'].str[15:]

In [29]:
df_subs.head()

,Order Number,Item,Substituting,Price,Quantity
0,12345678910,ASDA Simply Cook Smoked Crispy Bacon 60g,1 X ASDA Diced Pancetta Twin Pack 160g,£1.30,1
1,12345678910,ASDA 2 Crisp Crumb Chunky Cod Fillets 350g,1 X Young's 6 Chunky Fish Fillets in Crispy Br...,£3.20,1
2,12345678910,Yeo Valley Strawberry Yogurt 450g,1 X Arla Skyr Strawberry Yogurt 450g,£1.40,1
3,12345678910,ASDA 18 Battered Chicken Breast Chunks 350g,1 X ASDA Crispy Chicken Breast Strips 400g,£2.50,1
4,12345678910,New York Bakery Co The Original Plain Bagels 5pk,1 X ASDA Plain Bagels 4pk,£0.69,1

In [30]:
# define function to convert price from email to a float
def convert_price_col(df, col_name):
    """
    This function converts a string price column that starts with a £ sign to a column with type float64.
    Param 1: df object
    Param 2: Column name with quotes
        """
    df[col_name] = df[col_name].str[1:]
    df[col_name] = df[col_name].apply(pd.to_numeric)
    
convert_price_col(df_subs, 'Price')

In [31]:
# Convert quantity to a integer
df_subs['Quantity'] = df_subs['Quantity'].apply(pd.to_numeric)

In [32]:
df_subs.dtypes

Order Number      int64
Item             object
Substituting     object
Price           float64
Quantity          int64
dtype: object

In [33]:
# Calculate Unit Price Column
df_subs['Unit Price'] = df_subs['Price'] / df_subs['Quantity']

In [34]:
df_subs

,Order Number,Item,Substituting,Price,Quantity,Unit Price
0,12345678910,ASDA Simply Cook Smoked Crispy Bacon 60g,1 X ASDA Diced Pancetta Twin Pack 160g,1.30,1,1.30
1,12345678910,ASDA 2 Crisp Crumb Chunky Cod Fillets 350g,1 X Young's 6 Chunky Fish Fillets in Crispy Br...,3.20,1,3.20
2,12345678910,Yeo Valley Strawberry Yogurt 450g,1 X Arla Skyr Strawberry Yogurt 450g,1.40,1,1.40
3,12345678910,ASDA 18 Battered Chicken Breast Chunks 350g,1 X ASDA Crispy Chicken Breast Strips 400g,2.50,1,2.50
4,12345678910,New York Bakery Co The Original Plain Bagels 5pk,1 X ASDA Plain Bagels 4pk,0.69,1,0.69
5,12345678910,ASDA Creamy Tomato Pasta Bake 500g,1 X ASDA Tomato and Bacon Pasta Bake 480g,0.75,1,0.75
6,12345678910,ASDA Butcher's Selection 8 Pork Loin Steaks 800g,1 X ASDA Butcher's Selection Pork Boneless & R...,3.90,1,3.90
7,12345678910,ASDA GS Honeydew Melon EACH,1 X ASDA Grower's Selection Cantaloupe Melon each,1.69,1,1.69
8,12345678910,ASDA Mexican Style Plain Tortillas 8pk,1 X ASDA 10 Mini Plain Tortillas 300g,1.00,1,1.00

In [35]:
df_subs.insert(2, 'Substitution', 1)

In [36]:
df_subs.head()

,Order Number,Item,Substitution,Substituting,Price,Quantity,Unit Price
0,12345678910,ASDA Simply Cook Smoked Crispy Bacon 60g,1,1 X ASDA Diced Pancetta Twin Pack 160g,1.30,1,1.30
1,12345678910,ASDA 2 Crisp Crumb Chunky Cod Fillets 350g,1,1 X Young's 6 Chunky Fish Fillets in Crispy Br...,3.20,1,3.20
2,12345678910,Yeo Valley Strawberry Yogurt 450g,1,1 X Arla Skyr Strawberry Yogurt 450g,1.40,1,1.40
3,12345678910,ASDA 18 Battered Chicken Breast Chunks 350g,1,1 X ASDA Crispy Chicken Breast Strips 400g,2.50,1,2.50
4,12345678910,New York Bakery Co The Original Plain Bagels 5pk,1,1 X ASDA Plain Bagels 4pk,0.69,1,0.69

In [37]:
df_subs.dtypes

Order Number      int64
Item             object
Substitution      int64
Substituting     object
Price           float64
Quantity          int64
Unit Price      float64
dtype: object

### Manipulating the ordered DataFrame
The ordered dataframe currently looks like:

In [38]:
df_ordered.head()

                                                Item Quantity  Price
0  ASDA Butcher's Selection Beef Mince (Typically...        1  £1.59
1  ASDA Butcher's Selection Prime Beef Ribeye Ste...        2  £6.50
2  ASDA Butcher's Selection Lean Beef Mince (Typi...        1  £2.97
3               ASDA Grower's Selection Carrots 500g        1  £0.33
4                     ASDA Crispy Potato Slices 300g        1  £0.85

In [39]:
# Swap price and quantity columns
col_titles_unavail = ['Item', 'Price', 'Quantity']
df_ordered = df_ordered.reindex(columns=col_titles_unavail)
df_ordered.head()

                                                Item  Price Quantity
0  ASDA Butcher's Selection Beef Mince (Typically...  £1.59        1
1  ASDA Butcher's Selection Prime Beef Ribeye Ste...  £6.50        2
2  ASDA Butcher's Selection Lean Beef Mince (Typi...  £2.97        1
3               ASDA Grower's Selection Carrots 500g  £0.33        1
4                     ASDA Crispy Potato Slices 300g  £0.85        1

In [40]:
# Insert order number column
insert_order_num_col(df_ordered)
df_ordered.head()

,Order Number,Item,Price,Quantity
0,12345678910,ASDA Butcher's Selection Beef Mince (Typically...,£1.59,1
1,12345678910,ASDA Butcher's Selection Prime Beef Ribeye Ste...,£6.50,2
2,12345678910,ASDA Butcher's Selection Lean Beef Mince (Typi...,£2.97,1
3,12345678910,ASDA Grower's Selection Carrots 500g,£0.33,1
4,12345678910,ASDA Crispy Potato Slices 300g,£0.85,1

In [41]:
# Insert substitution column
df_ordered.insert(2, 'Substitution', 0)
df_ordered.head()

,Order Number,Item,Substitution,Price,Quantity
0,12345678910,ASDA Butcher's Selection Beef Mince (Typically...,0,£1.59,1
1,12345678910,ASDA Butcher's Selection Prime Beef Ribeye Ste...,0,£6.50,2
2,12345678910,ASDA Butcher's Selection Lean Beef Mince (Typi...,0,£2.97,1
3,12345678910,ASDA Grower's Selection Carrots 500g,0,£0.33,1
4,12345678910,ASDA Crispy Potato Slices 300g,0,£0.85,1

In [42]:
# Insert Substituting column
df_ordered.insert(3, 'Substituting', np.nan)
df_ordered.head()

,Order Number,Item,Substitution,Substituting,Price,Quantity
0,12345678910,ASDA Butcher's Selection Beef Mince (Typically...,0,NaN,£1.59,1
1,12345678910,ASDA Butcher's Selection Prime Beef Ribeye Ste...,0,NaN,£6.50,2
2,12345678910,ASDA Butcher's Selection Lean Beef Mince (Typi...,0,NaN,£2.97,1
3,12345678910,ASDA Grower's Selection Carrots 500g,0,NaN,£0.33,1
4,12345678910,ASDA Crispy Potato Slices 300g,0,NaN,£0.85,1

In [43]:
# Convert Quantity to integer
df_ordered['Quantity'] = df_ordered['Quantity'].apply(pd.to_numeric)
df_ordered.head()

,Order Number,Item,Substitution,Substituting,Price,Quantity
0,12345678910,ASDA Butcher's Selection Beef Mince (Typically...,0,NaN,£1.59,1
1,12345678910,ASDA Butcher's Selection Prime Beef Ribeye Ste...,0,NaN,£6.50,2
2,12345678910,ASDA Butcher's Selection Lean Beef Mince (Typi...,0,NaN,£2.97,1
3,12345678910,ASDA Grower's Selection Carrots 500g,0,NaN,£0.33,1
4,12345678910,ASDA Crispy Potato Slices 300g,0,NaN,£0.85,1

In [45]:
df_ordered.loc[27, 'Quantity']

1

In [199]:
# Convert price column to float
convert_price_col(df_ordered, 'Price')
df_ordered.head()

,Order Number,Item,Substitution,Substituting,Price,Quantity
0,12345678910,ASDA Butcher's Selection Beef Mince (Typically...,0,NaN,1.59,1
1,12345678910,ASDA Butcher's Selection Prime Beef Ribeye Ste...,0,NaN,6.50,2
2,12345678910,ASDA Butcher's Selection Lean Beef Mince (Typi...,0,NaN,2.97,1
3,12345678910,ASDA Grower's Selection Carrots 500g,0,NaN,0.33,1
4,12345678910,ASDA Crispy Potato Slices 300g,0,NaN,0.85,1

In [200]:
# Calculate unit price
df_ordered['Unit Price'] = df_ordered['Price'] / df_ordered['Quantity']

Order Number      int64
Item             object
Substitution      int64
Substituting    float64
Price           float64
Quantity          int64
Unit Price      float64
dtype: object

In [203]:
df_ordered.head()

,Order Number,Item,Substitution,Substituting,Price,Quantity,Unit Price
0,12345678910,ASDA Butcher's Selection Beef Mince (Typically...,0,NaN,1.59,1,1.59
1,12345678910,ASDA Butcher's Selection Prime Beef Ribeye Ste...,0,NaN,6.50,2,3.25
2,12345678910,ASDA Butcher's Selection Lean Beef Mince (Typi...,0,NaN,2.97,1,2.97
3,12345678910,ASDA Grower's Selection Carrots 500g,0,NaN,0.33,1,0.33
4,12345678910,ASDA Crispy Potato Slices 300g,0,NaN,0.85,1,0.85

### Combine the substitution and ordered DataFrames to create delivered DataFrame
I now want to combine the DataFrames df_subs and df_ordered.

See both dataframes below:

In [204]:
df_subs.head()

,Order Number,Item,Substitution,Substituting,Price,Quantity,Unit Price
0,12345678910,ASDA Simply Cook Smoked Crispy Bacon 60g,1,1 X ASDA Diced Pancetta Twin Pack 160g,1.30,1,1.30
1,12345678910,ASDA 2 Crisp Crumb Chunky Cod Fillets 350g,1,1 X Young's 6 Chunky Fish Fillets in Crispy Br...,3.20,1,3.20
2,12345678910,Yeo Valley Strawberry Yogurt 450g,1,1 X Arla Skyr Strawberry Yogurt 450g,1.40,1,1.40
3,12345678910,ASDA 18 Battered Chicken Breast Chunks 350g,1,1 X ASDA Crispy Chicken Breast Strips 400g,2.50,1,2.50
4,12345678910,New York Bakery Co The Original Plain Bagels 5pk,1,1 X ASDA Plain Bagels 4pk,0.69,1,0.69

In [205]:
df_ordered.head()

,Order Number,Item,Substitution,Substituting,Price,Quantity,Unit Price
0,12345678910,ASDA Butcher's Selection Beef Mince (Typically...,0,NaN,1.59,1,1.59
1,12345678910,ASDA Butcher's Selection Prime Beef Ribeye Ste...,0,NaN,6.50,2,3.25
2,12345678910,ASDA Butcher's Selection Lean Beef Mince (Typi...,0,NaN,2.97,1,2.97
3,12345678910,ASDA Grower's Selection Carrots 500g,0,NaN,0.33,1,0.33
4,12345678910,ASDA Crispy Potato Slices 300g,0,NaN,0.85,1,0.85

In [241]:
df_delivered = df_subs.append(df_ordered, ignore_index=True)

In [242]:
df_delivered

,Order Number,Item,Substitution,Substituting,Price,Quantity,Unit Price
0,12345678910,ASDA Simply Cook Smoked Crispy Bacon 60g,1,1 X ASDA Diced Pancetta Twin Pack 160g,1.30,1,1.30
1,12345678910,ASDA 2 Crisp Crumb Chunky Cod Fillets 350g,1,1 X Young's 6 Chunky Fish Fillets in Crispy Br...,3.20,1,3.20
2,12345678910,Yeo Valley Strawberry Yogurt 450g,1,1 X Arla Skyr Strawberry Yogurt 450g,1.40,1,1.40
3,12345678910,ASDA 18 Battered Chicken Breast Chunks 350g,1,1 X ASDA Crispy Chicken Breast Strips 400g,2.50,1,2.50
4,12345678910,New York Bakery Co The Original Plain Bagels 5pk,1,1 X ASDA Plain Bagels 4pk,0.69,1,0.69
5,12345678910,ASDA Creamy Tomato Pasta Bake 500g,1,1 X ASDA Tomato and Bacon Pasta Bake 480g,0.75,1,0.75
6,12345678910,ASDA Butcher's Selection 8 Pork Loin Steaks 800g,1,1 X ASDA Butcher's Selection Pork Boneless & R...,3.90,1,3.90
7,12345678910,ASDA GS Honeydew Melon EACH,1,1 X ASDA Grower's Selection Cantaloupe Melon each,1.69,1,1.69
8,12345678910,ASDA Mexican Style Plain Tortillas 8pk,1,1 X ASDA 10 Mini Plain Tortillas 300g,1.00,1,1.00
9,12345678910,ASDA Butcher's Selection Beef Mince (Typically...,0,NaN,1.59,1,1.59
10,12345678910,ASDA Butcher's Selection Prime Beef Ribeye Ste...,0,NaN,6.50,2,3.25
11,12345678910,ASDA Butcher's Selection Lean Beef Mince (Typi...,0,NaN,2.97,1,2.97
12,12345678910,ASDA Grower's Selection Carrots 500g,0,NaN,0.33,1,0.33
13,12345678910,ASDA Crispy Potato Slices 300g,0,NaN,0.85,1,0.85
14,12345678910,ASDA Butcher's Selection Chicken Breast Fillet...,0,NaN,5.19,1,5.19
15,12345678910,Cadbury Pots of Joy Dairy Milk Chocolate Desse...,0,NaN,2.00,2,1.00
16,12345678910,ASDA Thick Dry Cured Honey Roast Ham Slices 150g,0,NaN,1.90,1,1.90
17,12345678910,ASDA Simple to Cook Bourbon Beef Brisket 400g,0,NaN,3.90,1,3.90
18,12345678910,Arla Skyr Vanilla Yogurt 450g,0,NaN,1.40,1,1.40
19,12345678910,ASDA Grated Mozzarella Cheese 250g,0,NaN,1.75,1,1.75
20,12345678910,ASDA Butcher's Selection Diced Beef 475g,0,NaN,3.80,1,3.80
21,12345678910,ASDA Grated Four Cheese Blend 200g,0,NaN,1.75,1,1.75
22,12345678910,ASDA Farm Stores White Potatoes 2kg,0,NaN,1.00,1,1.00
23,12345678910,Aunt Bessie's 10 Dumplings 490g,0,NaN,1.00,1,1.00
24,12345678910,Richmond 20 Thick Frozen Pork Sausages 907g,0,NaN,2.50,1,2.50
25,12345678910,ASDA 4 Buttermilk Chicken Breast Fillet Burger...,0,NaN,2.50,1,2.50
26,12345678910,Maltesers Bunnies Large Chocolate Easter Egg 265g,0,NaN,4.00,1,4.00
27,12345678910,Cadbury Dairy Milk Caramel Gift Boxed Giant Ea...,0,NaN,4.00,1,4.00
28,12345678910,ASDA No Added Sugar Apple & Blackcurrant Squas...,0,NaN,0.95,1,0.95
29,12345678910,Pepsi Max Raspberry Cans 8x330,0,NaN,3.75,1,3.75
30,12345678910,Pepsi Max Cherry Cans 8x330,0,NaN,3.75,1,3.75
31,12345678910,ASDA Butter Chicken Curry Sauce 495g,0,NaN,0.79,1,0.79
32,12345678910,ASDA Grower's Selection Baby Potatoes 1kg,0,NaN,0.80,1,0.80
33,12345678910,ASDA Mint Sauce 280g,0,NaN,0.83,1,0.83
34,12345678910,Weetabix Crispy Minis Chocolate Chip 600g,0,NaN,2.98,1,2.98
35,12345678910,ASDA Bolognese Pasta Sauce 720g,0,NaN,0.84,1,0.84
36,12345678910,Patak's Korma Curry Sauce 450g,0,NaN,1.00,1,1.00
37,12345678910,ASDA Taco Seasoning 35g,0,NaN,1.24,2,0.62
38,12345678910,ASDA Taco Shells 150g,0,NaN,1.30,1,1.30
39,12345678910,ASDA Jam & Creams 150g,0,NaN,0.45,1,0.45
40,12345678910,ASDA Extra Special Hand Finished Salted Carame...,0,NaN,1.85,1,1.85
41,12345678910,Kellogg's Coco Pops 480g,0,NaN,2.89,1,2.89

### Clean the unavailable DataFrame

Currently looks like this:

In [243]:
df_unavail.head()

   Order Number                                   Item  Quantity
0   12345678910             ASDA Peppercorn Sauce 200g         1
1   12345678910                      ASDA Fusilli 500g         3
2   12345678910                   ASDA Conchiglie 500g         1
3   12345678910      ASDA 6 Medium Free Range Eggs 6pk         1
4   12345678910  George Home Plastic Food Storers 3x1l         1

We want to:
1. Add the order number
2. Convert quantity to an integer
3. Drop price Column

In [249]:
df_unavail.insert(0, 'Order Number', order_number)
df_unavail.head()

   Order Number                                   Item Quantity  Price
0   12345678910             ASDA Peppercorn Sauce 200g        1  £0.00
1   12345678910                      ASDA Fusilli 500g        3  £0.00
2   12345678910                   ASDA Conchiglie 500g        1  £0.00
3   12345678910      ASDA 6 Medium Free Range Eggs 6pk        1  £0.00
4   12345678910  George Home Plastic Food Storers 3x1l        1  £0.00

In [250]:
# Convert quantity to a integer
df_unavail['Quantity'] = df_unavail['Quantity'].apply(pd.to_numeric)
df_unavail.head()

   Order Number                                   Item  Quantity  Price
0   12345678910             ASDA Peppercorn Sauce 200g         1  £0.00
1   12345678910                      ASDA Fusilli 500g         3  £0.00
2   12345678910                   ASDA Conchiglie 500g         1  £0.00
3   12345678910      ASDA 6 Medium Free Range Eggs 6pk         1  £0.00
4   12345678910  George Home Plastic Food Storers 3x1l         1  £0.00

In [251]:
df_unavail.dtypes

Order Number     int64
Item            object
Quantity         int64
Price           object
dtype: object

In [252]:
df_unavail = df_unavail.drop(['Price'], axis=1)
df_unavail.head()

   Order Number                                   Item  Quantity
0   12345678910             ASDA Peppercorn Sauce 200g         1
1   12345678910                      ASDA Fusilli 500g         3
2   12345678910                   ASDA Conchiglie 500g         1
3   12345678910      ASDA 6 Medium Free Range Eggs 6pk         1
4   12345678910  George Home Plastic Food Storers 3x1l         1

### Add to the order details DataFrame

Currently the DataFrame looks like this:

In [271]:
df_order_details.head()

   Order Number Delivery Date  Subtotal Price  Total Price
0   12345678910    2020-03-26           89.68        83.01

We want it to look like this:

Order Number|Delivery Date|Subtotal Price|Total Price|Count Ordered|Count Substituted|Count Delivered|Sum Quantity|Count Unavailable
------------|-------------|--------------|-----------|-------------|-----------------|---------------|------------|---

We can get the count substituted from the sum of the Substituted column from the delivered DataFrame. We can then get the count count ordered from the sum of the NaN values in the substituting column of the delivered DataFrame:

In [272]:
# Calculating the entries required
mean_unit_price = df_order_details.iloc[0, 3] / df_delivered['Quantity'].sum()
count_ordered = pd.isna(df_delivered['Substituting']).sum()
count_substituted = df_delivered['Substitution'].sum()
count_delivered = len(df_delivered.index)
sum_quantity = df_delivered['Quantity'].sum()
count_unavailable = len(df_unavail.index)

# Creating a list of values
values = [mean_unit_price, count_ordered, count_substituted, count_delivered, sum_quantity, count_unavailable]
print(values)

#Creating list of Column names
columns_list = ['Mean Unit Price', 'Count Ordered', 'Count Substituted', 'Count Delivered', 'Sum Quanitity', 'Count Unavailable']

# Creating dictionary
df_dict = {columns_list[i]: values[i] for i in range(len(values))}

# Creating DataFrame
df = pd.DataFrame([df_dict])

[1.8446666666666667, 33, 9, 42, 45, 5]

In [273]:
df.head()

,Mean Unit Price,Count Ordered,Count Substituted,Count Delivered,Sum Quanitity,Count Unavailable
0,1.844667,33,9,42,45,5

In [274]:
df_order_details = pd.concat([df_order_details, df], axis=1)

In [275]:
df_order_details.head()

,Order Number,Delivery Date,Subtotal Price,Total Price,Mean Unit Price,Count Ordered,Count Substituted,Count Delivered,Sum Quanitity,Count Unavailable
0,12345678910,2020-03-26,89.68,83.01,1.844667,33,9,42,45,5

## Summary of the DataFrames we have

We now have three DataFrames:

1. The delivered Dataframe which contains the items that were actually delivered and whether they are substitutions or as ordered
2. Unavialable items which were not substituted and therefore not delivered
3. An order details DataFrame which summaries some of the key information about the order

In [276]:
df_delivered.head()

,Order Number,Item,Substitution,Substituting,Price,Quantity,Unit Price
0,12345678910,ASDA Simply Cook Smoked Crispy Bacon 60g,1,1 X ASDA Diced Pancetta Twin Pack 160g,1.30,1,1.30
1,12345678910,ASDA 2 Crisp Crumb Chunky Cod Fillets 350g,1,1 X Young's 6 Chunky Fish Fillets in Crispy Br...,3.20,1,3.20
2,12345678910,Yeo Valley Strawberry Yogurt 450g,1,1 X Arla Skyr Strawberry Yogurt 450g,1.40,1,1.40
3,12345678910,ASDA 18 Battered Chicken Breast Chunks 350g,1,1 X ASDA Crispy Chicken Breast Strips 400g,2.50,1,2.50
4,12345678910,New York Bakery Co The Original Plain Bagels 5pk,1,1 X ASDA Plain Bagels 4pk,0.69,1,0.69

In [278]:
df_unavail.head()

   Order Number                                   Item  Quantity
0   12345678910             ASDA Peppercorn Sauce 200g         1
1   12345678910                      ASDA Fusilli 500g         3
2   12345678910                   ASDA Conchiglie 500g         1
3   12345678910      ASDA 6 Medium Free Range Eggs 6pk         1
4   12345678910  George Home Plastic Food Storers 3x1l         1

In [279]:
df_order_details

,Order Number,Delivery Date,Subtotal Price,Total Price,Mean Unit Price,Count Ordered,Count Substituted,Count Delivered,Sum Quanitity,Count Unavailable
0,12345678910,2020-03-26,89.68,83.01,1.844667,33,9,42,45,5

## Save to CSV

In [300]:
filename_delivered = 'Delivered_Items_'+ str(delivery_date) + '.csv'

df_delivered.to_csv(filename_delivered, index=False)