## Extracting Data from Email

### Extracting and seperating the HTML body and email headers

In [1]:
# Import libraries
import email
from email.policy import default
from requests_html import HTML
import pandas as pd
import datetime
import numpy as np
import os
import psycopg2
import sqlalchemy

In [2]:
# Open eml email file as an email.message type object
with open('Your updated ASDA Groceries order.eml', 'r') as file:
   
   msg = email.message_from_file(file, policy=default)

In [3]:
# Extract the parts of the message and enter it into a dictionary
body = msg.get_payload(decode=True)
dict = {'to': msg['to'], 'from': msg['from'], 'subject': msg['subject'], 'date': msg['date'], 'body': body}
print('To: {}'.format(msg['to']))
print('From: {}'.format(msg['from']))
print('Date: {}'.format(msg['date']))
print('Subject: {}'.format(msg['subject']))

To: "richo3003@hotmail.co.uk" <richo3003@hotmail.co.uk>
From: ASDA Customer Services <home.shopping@asda.co.uk>
Date: Wed, 08 Jul 2020 12:31:00 +0100
Subject: Order Receipt

### Converting HTML body to text

In [4]:
#Grab the HTML from the body of the email and extract the table element
html = HTML(html=body)

match = html.find('tr')
print(match)

[<Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' style='padding-left: 24px'>, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' style='border-radius: 2px;background-color: #eeeeee;margin-top: 20px'>, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' style='border-radius: 2px;background-color: #eeeeee;margin-top: 20px'>, <Element 'tr' >, <Element 'tr' style='border-radius: 2px;background-color: #eeeeee;margin-top: 20px'>, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' style='border-radius: 2px;background-color: #eeeeee;margin-top: 20px'>, <Element 'tr' >, <Element 'tr' style='border-radius: 2px;background-color: #eeeeee;margin-top: 20px'>, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' >, <Element 'tr' style='padding-left: 24px'>]

In [5]:
#All the tr elements in match are the same
i=0
equiv = []
while i < len(match):
    equiv.append(str(match[0]) == str(match[i]))
    i += 1
print(equiv)

[True, True, True, True, True, True, True, True, True, True, True, False, True, True, True, True, True, True, True, True, True, True, True, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False, True, False, True, True, True, True, True, True, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

### Converting body to list and manipulating lists

In [6]:
# Get the content of the email body from the first tr element above. Then sperate into lines
content = match[0].text
lines = content.splitlines()

In [7]:
# List the content of the list lines with the index number
for i, line in enumerate(lines):
    print(i, line)

0 Order Receipt:
1 22005499653
2
3
4 4a Carsdale Road, Manchester, GB
5 Wednesday, 8 July, 06:00 PM-08:00 PM
6 £110.17
7
8
9 Track package
10 Bring your bags to help us reduce plastic.
11 Paid with a gift card? Keep it safe until you get your order.
12
13
14 Everything ok with your order? Hand back anything you do not want or leave it in the locker. We’ll refund you straight away.
15 Or ask for a refund online up to 3 days after you get your order.
16 Changes to your order
17 We only charge you for the items we send. We never charge you more for a substitute, even when the substitute is more expensive.
18
19
20 You ordered
21 1 X Goodfella's Stonebaked Thin Pepperoni Pizza 340g
22 £1.50
23 We sent
24 1 X Goodfella's Stonebaked Thin Roast Chicken Pizza 365g
25 £1.50
26 You ordered
27 1 X Blue Dragon Light Soy Sauce 375ml
28 £1.88
29 We sent
30 3 X ASDA Light Soy Sauce 150ml
31 £1.62
32 You ordered
33 1 X ASDA Plant Based Meat-Free Sausages 270g
34 Not available
35 £2.35
36 You ordered
37 1 X ASDA Cookies & Cream Celebration Cake each
38 Not available
39 £13.00
40 Your order
41
42
43 Fridge
44 Quantity
45 Price
46 ASDA Butcher's Selection 6 Thick Cut Smoked Back Bacon Rashers 300g
47 2
48 £3.38
49 ASDA Light Mozzarella Cheese 125g
50 1
51 £0.49
52 ASDA Halloumi 225g
53 1
54 £1.75
55 ASDA Sour Cream & Chive Dip 200g
56 1
57 £0.90
58 ASDA Butcher's Selection 8 Minted Lamb Kofta Kebabs 480g
59 1
60 £4.00
61 ASDA Butcher's Selection 4 BBQ Pork Kebabs 344g
62 1
63 £3.00
64 Cadbury Layers of Joy Chocolate Trifles 2x90g
65 1
66 £1.00
67 ASDA Grower's Selection Little Gem Lettuce 2pk
68 1
69 £0.65
70 ASDA Houmous 200g
71 1
72 £0.80
73 ASDA Grower's Selection Spring Onions each
74 1
75 £0.55
76 Apetina Classic Light Salad Cheese 200g
77 1
78 £1.00
79 ASDA Butcher's Selection Chicken Breast Fillets 650g
80 1
81 £3.40
82 ASDA Grated Mature Cheddar 250g
83 1
84 £1.75
85 ASDA Extra Special Baby Potatoes 1kg
86 1
87 £1.00
88 ASDA Extra Special 6 Pork & Caramelised Red Onion Sausages 400g
89 1
90 £2.25
91 ASDA Grower's Selection Cucumber each
92 1
93 £0.55
94 ASDA Extra Special 6 Lincolnshire Pork Sausages 400g
95 1
96 £2.25
97 Arla Skyr Natural Yogurt 450g
98 1
99 £1.25
100 ASDA Butcher's Selection Chinese Pork Loin Steaks 880g
101 1
102 £5.00
103 Lurpak Lighter Slightly Salted Spreadable 750g
104 1
105 £4.00
106 ASDA Grower's Selection Sweetcorn Cobettes 4pk
107 2
108 £2.00
109 ASDA Butcher's Selection Lean Beef Mince (Typically Less Than 5% Fat) 500g
110 2
111 £5.94
112 Others
113 Quantity
114 Price
115 ASDA Grower's Selection Loose Red Onion (order by number of onions or select kg) per kg
116 0.11kg
117 £0.09
118 Freezer
119 Quantity
120 Price
121 Toblerone Cheesecake 430g
122 1
123 £3.00
124 McCain Frozen Home Chips Straight 2.1kg
125 1
126 £3.00
127 Birds Eye 8 Crispy Battered Fish Fingers 224g
128 1
129 £1.58
130 ASDA Take Away BBQ Chicken & Bacon Stuffed Crust Pizza 458g
131 1
132 £2.00
133 ASDA 18 Battered Chicken Breast Chunks 350g
134 1
135 £2.50
136 Birds Eye 2 Original Chicken Chargrills 170g
137 1
138 £1.65
139 Fresh
140 Quantity
141 Price
142 ASDA White Pitta Breads 6pk
143 2
144 £0.90
145 Groceries, Health & Beauty and Household Items
146 Quantity
147 Price
148 Expert Grill 30cm Bamboo Skewers 100pk
149 1
150 £1.00
151 Birra Moretti Premium Lager 12x330
152 1
153 £12.00
154 ASDA 100% Pure Apple Juice Carton 1l
155 1
156 £0.65
157 Schweppes Slimline Lemonade 2lt
158 1
159 £1.00
160 ASDA Grower's Selection Mint 25g
161 1
162 £0.40
163 ASDA Grower's Selection Baby Plum Tomatoes 325g
164 1
165 £0.95
166 ASDA Grower's Selection Loose Lemon each
167 1
168 £0.30
169 Nishaan Plain Parathas 380g
170 1
171 £1.10
172 Napolina Italian Grated Cheese 80g
173 1
174 £1.89
175 ASDA 12 Large Free Range Eggs 12pk
176 1
177 £2.05
178 Douwe Egberts Pure Gold Medium Roast Instant Coffee 190g
179 1
180 £5.00
181 Batchelors Original Mushy Peas 3x300g
182 1
183 £1.40
184 Schweppes Lemonade 2lt
185 1
186 £1.00
187 ASDA Farm Stores Salad Tomatoes 6pk
188 1
189 £0.75
190 ASDA Pineapple Juice 1l
191 1
192 £0.80
193 Pepsi Max 2lt
194 2
195 £3.96
196 ASDA Lemon Juice from Concentrate 250ml
197 1
198 £0.39
199 ASDA White Basmati Rice 2kg
200 1
201 £2.89
202 ASDA Grower's Selection Sweet Peppers (Colour may vary) 3pk
203 1
204 £1.35
205 Belvita Breakfast Biscuits Soft Bakes Filled Choco Hazelnut 5 Pack 250g
206 1
207 £1.50
208 Belvita Breakfast Biscuits Cocoa with Choc Chips 5 Pack 225g
209 1
210 £1.00
211 ASDA No Added Sugar Double Strength Summer Fruits Squash 1.5l
212 1
213 £1.00
214 Popchips Sour Cream and Onion Sharing Crisps 85g
215 1
216 £1.00
217 ASDA Meatballs Pasta Sauce 500g
218 1
219 £0.79
220 Maggi So Tender Italian Herbs Chicken 23g
221 1
222 £0.75
223 Popchips Barbeque Sharing Crisps 85g
224 1
225 £1.00
226
227
228 Groceries
229 £110.67
230 Pick & pack*
231 £0.00
232 Minimum basket charge
233 £0.00
234
235 Savings
236 Multibuy (1 items)
237 -£0.50
238
239 Order total
240 £110.17
241
242 When we charge you
243 We set up your payment the day before your order. That way we can warn you if there are payment problems. We only charge you on the day.
244 Sometimes your order total changes after we set up the payment. For example because of last minute changes to your order, or the exact weight of your fresh food.
245 If so we’ll make corrections on the day. You’ll see these on your bank statement as extra charges/refunds. Some banks may take a few days to then update your account.
246 Payment details
247 •••• 9567
248 £125.69
249 *Exact price depends on weight of available items
250 View order online
251 endif]--></td></tr></tbody></table></td></tr><img src="https://rptrcks.walmart.com/comm-smart-app/services/tracking/openTracker?redirectTo=lBomOh6WKvUucY3E3HMu4XvON0cnNY20QfPCNVStDrglTIclmI0iCV1wUTF%2Bc8fi7cDr%2BNSp9M8byEwiZYONH4zKQVHUOkewAW6ryJn/nz7JcB%2BsP0qpSxkyIiZvMURdhOaL4tHoIAshuMF74Z0JEAs/fsOvzSUBdFeI196u0O%2Bu/bH1JroLeSwfxaNQJjQcfgEXrP7Qx7FwvBOzy8O4uQhp1dcjea1UOiC87YlH8mo%2Bw71o3Z2BntuhvfGLgNqny/I8EcNbZGDqYvQ69cqmkL/qtqQBBdJRrd/NZj01/yf/At%2BFHFItZuFuK1xC%2Bm2QCceWKPP2ujueyeebFRYj9e1nJV8WZmZCwAXKz3bLJ9Et99dUF7chqazai5MiDt/lYKxwwNkHGkhmzEkgjwt/Sr6JpDO1q0GPkldD9zib8hlsBjFpkRr/DyqWKXpC5j4nu2f9kfnuc32Nr8jl6fRgTNLuvjEAG97xCeRTZk5FPfecgL1N5UztB7Ct1VDxU94fifu0aFrLds5ciXkzwUM291CwRXnbmywl1tTIshQj2mgxAgVJyYyAU/Zll0aYErTk&meta=ezq6KFZhFKSXvcqRwURdrWgGRey8UWreqgFA3zXp2Y56zOFRfxZnCElMkFVcTm1dBscuwiXpas5P4od5FJg8IZEUJWo3yBB6dbU%2F%2FKQDtobN2%2Fg5yRALrNdemBrG1ucMmWGsB6oWC2uflVqLOLB7BhCffuvPAI5%2BVwkIA22I2iKHVlkq3WyoRLsS%2Fvx7BXD6vMKHXR3LvxWpwHUXoulhgQDvYhzmUL0b%2FZa3oykOiJk%3D&iv=jtGu2NvGIFaAne9sWxajIg%3D%3D" height="1" width="1"> <img height="1" alt="" src="http://omniture.groceries.asda.com/b/ss/wmiasdaemailprod/5?pageName=WismoEmailOpenRate&v1=eDeliveryNoteemaildeliveryorders" width="1" border="0"><!-- body --><!-- Footer Starts --><!-- Footer Starts --> <tr><!--[if mso
252 endif]--><!--[if !mso-->
253 Please do not reply to this email.
254 If you’d like to get in touch, please call our customer services team on 0800 952 6060.
255
256 This is a service message from Asda Stores Ltd, Registered in England No. 464777.
257 Registered Office: Asda House, Southbank, Great Wilson Street, Leeds LS11 5AD
258
259 This email and any files transmitted with it are confidential and intended solely for the individual or entity to whom they are addressed. If you have received this email in error please accept our apologies & destroy it immediately.
260 ASDA 2018
261 Terms & Conditions ⋅ Privacy & Cookies Policy

In [24]:
# Extract the order number, delivery date, subtotal and total
order_number = lines[1]
delivery_date_str = lines[3]

# The value of the order total is on the line below the total header
total_str = lines[lines.index('Total') + 1]

# The value of the subtotal is 5 lines below the subtotal header
subtotal_str = lines[lines.index('Subtotal*') + 5]

print('Order Number :', order_number, type(order_number))
print('Delivery Date:', delivery_date_str, type(delivery_date_str))
print('Subtotal is  :', subtotal_str, type(subtotal_str))
print('Total is     :', total_str, type(total_str))

Order Number : 012345678910 <class 'str'>
Delivery Date: 26 Mar 2020 11:00 AM-01:00 PM <class 'str'>
Subtotal is  : £89.68 <class 'str'>
Total is     : £83.01 <class 'str'>

In [25]:
# Converting strings above to other data types

#Convert delivery date string to date object, by slicing to just date part and then converting
delivery_date_str = delivery_date_str[0:11]
print(delivery_date_str)
delivery_date = datetime.datetime.strptime(delivery_date_str, '%d %b %Y').date()
print('Delivery Date:', delivery_date, type(delivery_date))

#Converting Subtotal and total to float
def convert_str_price_to_float(x):
    x = x[1:]
    return float(x)

subtotal = convert_str_price_to_float(subtotal_str)
print('Subtotal     :', subtotal, type(subtotal))

total = convert_str_price_to_float(total_str)
print('Total        :', total, type(total))

26 Mar 2020
Delivery Date: 2020-03-26 <class 'datetime.date'>
Subtotal     : 89.68 <class 'float'>
Total        : 83.01 <class 'float'>

In [26]:
# Selecting the block of text after the Substitutes header

# Start_substitutes finds the index of the line containing the Substitutes header
start_substitutes = lines.index('Substitutes')

# We skip the qty and price labels by starting the loop 3 lines below the substitutes header
# The loop ends before the first empty space
i = start_substitutes + 3
while len(lines[i]) > 0 :
    print(lines[i])
    i += 1

ASDA Simply Cook Smoked Crispy Bacon 60g
Substitute for 1 X ASDA Diced Pancetta Twin Pack 160g
1
£1.30
ASDA 2 Crisp Crumb Chunky Cod Fillets 350g
Substitute for 1 X Young's 6 Chunky Fish Fillets in Crispy Breadcrumbs 690g
1
£3.20
Yeo Valley Strawberry Yogurt 450g
Substitute for 1 X Arla Skyr Strawberry Yogurt 450g
1
£1.40
ASDA 18 Battered Chicken Breast Chunks 350g
Substitute for 1 X ASDA Crispy Chicken Breast Strips 400g
1
£2.50
New York Bakery Co The Original Plain Bagels 5pk
Substitute for 1 X ASDA Plain Bagels 4pk
1
£0.69
ASDA Creamy Tomato Pasta Bake 500g
Substitute for 1 X ASDA Tomato and Bacon Pasta Bake 480g
1
£0.75
ASDA Butcher's Selection 8 Pork Loin Steaks 800g
Substitute for 1 X ASDA Butcher's Selection Pork Boneless & Rindless Loin Joint 700g
1
£3.90
ASDA GS Honeydew Melon EACH
Substitute for 1 X ASDA Grower's Selection Cantaloupe Melon each
1
£1.69
ASDA Mexican Style Plain Tortillas 8pk
Substitute for 1 X ASDA 10 Mini Plain Tortillas 300g
1
£1.00

In [27]:
# This groups the lines into a new substitutes list which is made up of a tuple of 4 elements
i = start_substitutes + 3
substitutes = []
while len(lines[i]) > 0 :
    substitutes.append((lines[i], lines[i + 1], lines[i + 2], lines[i + 3]))
    i += 4

In [28]:
# finds unavailable section
start_unavailable = lines.index('Unavailable')

i = start_unavailable + 3
while len(lines[i]) > 0 :
    print(lines[i])
    i += 1

ASDA Peppercorn Sauce 200g
1
£0.00
ASDA Fusilli 500g
3
£0.00
ASDA Conchiglie 500g
1
£0.00
ASDA 6 Medium Free Range Eggs 6pk
1
£0.00
George Home Plastic Food Storers 3x1l
1
£0.00

In [29]:
# This packs the unavailable section into a list of tuples
i = start_unavailable + 3
unavailable = []
while len(lines[i]) > 0 :
    unavailable.append((lines[i], lines[i + 1], lines[i + 2]))
    i += 3

In [30]:
# We can find the start and end of the ordered section
start_ordered = lines.index('Ordered')

end_ordered = lines.index('Multibuy Savings')

i = start_ordered + 3
while i < end_ordered :
    print(lines[i])
    i += 1

Chilled
ASDA Butcher's Selection Beef Mince (Typically Less Than 20% Fat) 500g

1
£1.59
ASDA Butcher's Selection Prime Beef Ribeye Steak 227g

2
£6.50
ASDA Butcher's Selection Lean Beef Mince (Typically Less Than 5% Fat) 500g

1
£2.97
ASDA Grower's Selection Carrots 500g

1
£0.33
ASDA Crispy Potato Slices 300g

1
£0.85
ASDA Butcher's Selection Chicken Breast Fillets 1kg

1
£5.19
Cadbury Pots of Joy Dairy Milk Chocolate Dessert 4x65g

2
£2.00
ASDA Thick Dry Cured Honey Roast Ham Slices 150g

1
£1.90
ASDA Simple to Cook Bourbon Beef Brisket 400g

1
£3.90
Arla Skyr Vanilla Yogurt 450g

1
£1.40
ASDA Grated Mozzarella Cheese 250g

1
£1.75
ASDA Butcher's Selection Diced Beef 475g

1
£3.80
ASDA Grated Four Cheese Blend 200g

1
£1.75
Products By Weight
ASDA Farm Stores White Potatoes 2kg

1
£1.00
Frozen
Aunt Bessie's 10 Dumplings 490g

1
£1.00
Richmond 20 Thick Frozen Pork Sausages 907g

1
£2.50
ASDA 4 Buttermilk Chicken Breast Fillet Burgers 400g

1
£2.50
Groceries, Health & Beauty and Household Items
Maltesers Bunnies Large Chocolate Easter Egg 265g

1
£4.00
Cadbury Dairy Milk Caramel Gift Boxed Giant Easter Egg 311g

1
£4.00
ASDA No Added Sugar Apple & Blackcurrant Squash 1.5l

1
£0.95
Pepsi Max Raspberry Cans 8x330

1
£3.75
Pepsi Max Cherry Cans 8x330

1
£3.75
ASDA Butter Chicken Curry Sauce 495g

1
£0.79
ASDA Grower's Selection Baby Potatoes 1kg

1
£0.80
ASDA Mint Sauce 280g

1
£0.83
Weetabix Crispy Minis Chocolate Chip 600g

1
£2.98
ASDA Bolognese Pasta Sauce 720g

1
£0.84
Patak's Korma Curry Sauce 450g

1
£1.00
ASDA Taco Seasoning 35g

2
£1.24
ASDA Taco Shells 150g

1
£1.30
ASDA Jam & Creams 150g

1
£0.45
ASDA Extra Special Hand Finished Salted Caramel & Chocolate Cake each

1
£1.85
Kellogg's Coco Pops 480g

1
£2.89

In [31]:
# Creating a list for the ordered section
i = start_ordered + 3
ordered = []
while i < end_ordered :
    ordered.append(lines[i])
    i += 1

# Remove blank list elements
ordered = list(filter(None, ordered))

In [32]:
# Create a new list without the category headings
categories = ['Chilled', 'Products By Weight', 'Frozen', 'Groceries, Health & Beauty and Household Items', 'Others', 'Other']

ordered_items = []
for element in ordered:
    if element in categories:
        pass
    else:
        ordered_items.append(element)

In [33]:
# Create a list of tuples for the ordered items
i = 0
ordered_clean = []
print(len(ordered_items))

while i < len(ordered_items) :
    ordered_clean.append((ordered_items[i], ordered_items[i + 1], ordered_items[i + 2]))
    i += 3
    
print(ordered_clean)

99
[("ASDA Butcher's Selection Beef Mince (Typically Less Than 20% Fat) 500g", '1', '£1.59'), ("ASDA Butcher's Selection Prime Beef Ribeye Steak 227g", '2', '£6.50'), ("ASDA Butcher's Selection Lean Beef Mince (Typically Less Than 5% Fat) 500g", '1', '£2.97'), ("ASDA Grower's Selection Carrots 500g", '1', '£0.33'), ('ASDA Crispy Potato Slices 300g', '1', '£0.85'), ("ASDA Butcher's Selection Chicken Breast Fillets 1kg", '1', '£5.19'), ('Cadbury Pots of Joy Dairy Milk Chocolate Dessert 4x65g', '2', '£2.00'), ('ASDA Thick Dry Cured Honey Roast Ham Slices 150g', '1', '£1.90'), ('ASDA Simple to Cook Bourbon Beef Brisket 400g', '1', '£3.90'), ('Arla Skyr Vanilla Yogurt 450g', '1', '£1.40'), ('ASDA Grated Mozzarella Cheese 250g', '1', '£1.75'), ("ASDA Butcher's Selection Diced Beef 475g", '1', '£3.80'), ('ASDA Grated Four Cheese Blend 200g', '1', '£1.75'), ('ASDA Farm Stores White Potatoes 2kg', '1', '£1.00'), ("Aunt Bessie's 10 Dumplings 490g", '1', '£1.00'), ('Richmond 20 Thick Frozen Pork Sausages 907g', '1', '£2.50'), ('ASDA 4 Buttermilk Chicken Breast Fillet Burgers 400g', '1', '£2.50'), ('Maltesers Bunnies Large Chocolate Easter Egg 265g', '1', '£4.00'), ('Cadbury Dairy Milk Caramel Gift Boxed Giant Easter Egg 311g', '1', '£4.00'), ('ASDA No Added Sugar Apple & Blackcurrant Squash 1.5l', '1', '£0.95'), ('Pepsi Max Raspberry Cans 8x330', '1', '£3.75'), ('Pepsi Max Cherry Cans 8x330', '1', '£3.75'), ('ASDA Butter Chicken Curry Sauce 495g', '1', '£0.79'), ("ASDA Grower's Selection Baby Potatoes 1kg", '1', '£0.80'), ('ASDA Mint Sauce 280g', '1', '£0.83'), ('Weetabix Crispy Minis Chocolate Chip 600g', '1', '£2.98'), ('ASDA Bolognese Pasta Sauce 720g', '1', '£0.84'), ("Patak's Korma Curry Sauce 450g", '1', '£1.00'), ('ASDA Taco Seasoning 35g', '2', '£1.24'), ('ASDA Taco Shells 150g', '1', '£1.30'), ('ASDA Jam & Creams 150g', '1', '£0.45'), ('ASDA Extra Special Hand Finished Salted Caramel & Chocolate Cake each', '1', '£1.85'), ("Kellogg's Coco Pops 480g", '1', '£2.89')]

### What I have so far

So far I have several pieces of information directly from the email metadata:
1. Recipient email address
2. Sender email address
3. Subject line
4. Date email was sent

Since these are going to remain constant these are not too useful. I also have the date the email was sent.

I converted the HTML body of the email to text. Intially I wanted to parse the HTML to extract the data straight from the HTML body of the email. I found this dificult as when trying to access the tr and td elements of the HTML I was getting all of the body text instead of individual cells. Therefore I decided to manipulate the body of the email by splitting each line down into an element of a list.

From this I have several lists of tuples for each subsection of the email along with a few intital values extract directly from the master list by knowing the index of the line in the list.

Extract directly:
1. Total Cost as a string value
2. Subtotal as a string value
3. Order number as a string value

Lists of tuples:
1. The substitutions sent to replace unavailable items
2. The unavailable items that couldn't be replaced, and so were removed from the order
3. The items that were delivered as ordered

## Manipulating Data

### Converting lists to Pandas DataFrames

In [34]:
# Create substitutions dataframe
df_subs = pd.DataFrame(substitutes, columns = ['item', 'substituting', 'quantity', 'price'])
df_subs.head()

,item,substituting,quantity,price
0,ASDA Simply Cook Smoked Crispy Bacon 60g,Substitute for 1 X ASDA Diced Pancetta Twin Pa...,1,£1.30
1,ASDA 2 Crisp Crumb Chunky Cod Fillets 350g,Substitute for 1 X Young's 6 Chunky Fish Fille...,1,£3.20
2,Yeo Valley Strawberry Yogurt 450g,Substitute for 1 X Arla Skyr Strawberry Yogurt...,1,£1.40
3,ASDA 18 Battered Chicken Breast Chunks 350g,Substitute for 1 X ASDA Crispy Chicken Breast ...,1,£2.50
4,New York Bakery Co The Original Plain Bagels 5pk,Substitute for 1 X ASDA Plain Bagels 4pk,1,£0.69

In [35]:
# Creating Unavailable items dataframe
df_unavail = pd.DataFrame(unavailable, columns = ['item', 'quantity', 'price'])
df_unavail.head()

                                    item quantity  price
0             ASDA Peppercorn Sauce 200g        1  £0.00
1                      ASDA Fusilli 500g        3  £0.00
2                   ASDA Conchiglie 500g        1  £0.00
3      ASDA 6 Medium Free Range Eggs 6pk        1  £0.00
4  George Home Plastic Food Storers 3x1l        1  £0.00

In [36]:
# Creating ordered items dataframe
df_ordered = pd.DataFrame(ordered_clean, columns = ['item', 'quantity', 'price'])
df_ordered.head()

                                                item quantity  price
0  ASDA Butcher's Selection Beef Mince (Typically...        1  £1.59
1  ASDA Butcher's Selection Prime Beef Ribeye Ste...        2  £6.50
2  ASDA Butcher's Selection Lean Beef Mince (Typi...        1  £2.97
3               ASDA Grower's Selection Carrots 500g        1  £0.33
4                     ASDA Crispy Potato Slices 300g        1  £0.85

In [37]:
# Creating Dataframe for the order number, delivery date, subtotal and total
order_dict = {'order_number': order_number,'delivery_date': delivery_date, 'subtotal': subtotal, 'total': total}

df_order_details = pd.DataFrame.from_dict([order_dict])
df_order_details.head()

   order_number delivery_date  subtotal  total
0  012345678910    2020-03-26     89.68  83.01

### What I want the data to look like

I would like to end up with three tables:
1. Table with the ordered items and substitutions. This will list the items that were actually delivered, the price before promotions, the quanitity and the unit price. There will also be a column with the Order Number. This will eventually act as a foreign key so that the items can be linked to an order. The column headers will be as below:

order_number|item     |substitution |substituting  |price|quantity|unit_price
------------|---------|-------------|--------------|-----|--------|---
12345       |Item Name|1 or 0       |Item replacing|x.xx |y       |x.xx/y
    
    The order number will come from the order_number variable calculated previously. If the record is a substitution a value      of True will be in the Subsitution column and the item it is a substituting will be in the substituting column. The Unit        Price coulmn will be calculated as Price/Quantity.
  
2. The second table will be unavailable products and will look like below:

order_number|item|quantity
---|---|---
    
3. The third table will be the order details column and will look like below:
    
order_number|delivery_date|subtotal|total|
------------|-------------|--------|-----|

### Manipulating the Substitution DataFrame
The Substitutions dataframe currently looks like this:

In [ ]:
df_subs.head()

List of tasks:
1. Append order number to start of dataframe.
2. Add a Substitution column with a value of True.
3. Clean up the Substituting column to remove the 'Substitution for' part of text.
4. Swap position of Price and Quantity columns. Convert them from strings to numbers.
5. Convert Quantity column to int data type.
6. Convert Price column to a float.
7. Unit price by calculating Price/Quantity.

In [ ]:
# Swap Price and quantity columns
col_titles = ['item', 'substituting', 'price', 'quantity']
df_subs = df_subs.reindex(columns=col_titles)

In [ ]:
# Insert Order Number Column
def insert_order_num_col(df):
    df.insert(0, 'order_number', order_number)
    
insert_order_num_col(df_subs)

In [ ]:
df_subs.head()

In [ ]:
# 3. Remove the substitution for part of substituting column
df_subs['substituting'] = df_subs['substituting'].str[15:]

In [ ]:
df_subs.head()

In [ ]:
# define function to convert price from email to a float
def convert_price_col(df, col_name):
    """
    This function converts a string price column that starts with a £ sign to a column with type float64.
    Param 1: df object
    Param 2: Column name with quotes
        """
    df[col_name] = df[col_name].str[1:]
    df[col_name] = df[col_name].apply(pd.to_numeric)
    
convert_price_col(df_subs, 'price')

In [ ]:
# Convert quantity to a integer
df_subs['quantity'] = df_subs['quantity'].astype('int', errors='ignore')

In [ ]:
df_subs.dtypes

In [ ]:
# Calculate Unit Price Column
df_subs['unit_price'] = df_subs['price'] / df_subs['quantity']

In [ ]:
df_subs

In [ ]:
df_subs.insert(2, 'substitution', True)

In [ ]:
df_subs.head()

In [ ]:
df_subs.dtypes

### Manipulating the ordered DataFrame
The ordered dataframe currently looks like:

In [ ]:
df_ordered.head()

In [ ]:
# Swap price and quantity columns
col_titles_unavail = ['item', 'price', 'quantity']
df_ordered = df_ordered.reindex(columns=col_titles_unavail)
df_ordered.head()

In [ ]:
# Insert order number column
insert_order_num_col(df_ordered)
df_ordered.head()

In [ ]:
# Insert substitution column
df_ordered.insert(2, 'substitution', False)
df_ordered.head()

In [ ]:
# Insert Substituting column
df_ordered.insert(3, 'substituting', 'None')
df_ordered.head()

In [ ]:
# Convert Quantity to integer
df_ordered['quantity'] = df_ordered['quantity'].astype('int', errors='ignore')
df_ordered.head()

In [ ]:
# Convert price column to float
convert_price_col(df_ordered, 'price')
df_ordered.head()

In [ ]:
# Calculate unit price
df_ordered['unit_price'] = df_ordered['price'] / df_ordered['quantity']

In [ ]:
df_ordered.head()

### Combine the substitution and ordered DataFrames to create delivered DataFrame
I now want to combine the DataFrames df_subs and df_ordered.

See both dataframes below:

In [ ]:
df_subs.head()

In [ ]:
df_ordered.head()

In [ ]:
df_delivered = df_subs.append(df_ordered, ignore_index=True)

In [ ]:
df_delivered

### Clean the unavailable DataFrame

Currently looks like this:

In [ ]:
df_unavail.head()

We want to:
1. Add the order number
2. Convert quantity to an integer
3. Drop price Column

In [ ]:
df_unavail.insert(0, 'order_number', order_number)
df_unavail.head()

In [ ]:
# Convert quantity to a integer
df_unavail['quantity'] = df_unavail['quantity'].astype('int', errors='ignore')
df_unavail.head()

In [ ]:
df_unavail.dtypes

In [ ]:
df_unavail = df_unavail.drop(['price'], axis=1)
df_unavail.head()

### Add to the order details DataFrame

Currently the DataFrame looks like this:

In [ ]:
df_order_details.head()

We want it to look like this:

order_number|delivery_date|subtotal|total|
------------|-------------|--------|-----|

The only changes we need to make are to convert the delivery date to a datetime format.

In [ ]:
# Convert date tp datetime
df_order_details['delivery_date'] = pd.to_datetime(df_order_details['delivery_date'])

In [ ]:
df_order_details.dtypes

In [ ]:
df_order_details.head()

## Summary of the DataFrames we have

We now have three DataFrames:

1. The delivered Dataframe which contains the items that were actually delivered and whether they are substitutions or as ordered
2. Unavialable items which were not substituted and therefore not delivered
3. An order details DataFrame which summaries some of the key information about the order

In [ ]:
df_delivered.head()

In [ ]:
df_unavail.head()

In [ ]:
df_order_details.head()

## Save to CSV

In [ ]:
filename_delivered = 'Delivered_Items_'+ str(delivery_date) + '.csv'

df_delivered.to_csv(filename_delivered, index=False)

# Inserting into Tables on a PostgreSQL database
I have create the following tables in a PostgreSQL Database:
* order_details
* delivered_items
* unavailable_items

The SQL to create these tables:

1) order_details
```SQL
CREATE TABLE order_details
(
	order_number VARCHAR PRIMARY KEY,
	delivery_date DATE NOT NULL,
	subtotal NUMERIC(5, 2),
	total NUMERIC(5, 2)
);
```
2) delivered_items
```PostgreSQL
CREATE TABLE delivered_items
(
	id serial PRIMARY KEY,
	order_number VARCHAR REFERENCES order_details(order_number),
	item VARCHAR NOT NULL,
	substitution BOOL NOT NULL,
	substituting VARCHAR,
	price NUMERIC(5, 2),
	quantity SMALLINT,
	unit_price NUMERIC(5, 2)
);
```
3) unavailable_items
```PostgreSQL
CREATE TABLE unavailable_items
(
    id serial PRIMARY Key,
    order_number VARCHAR REFERENCES order_details(order_number),
    item VARCHAR NOT NULL,
    quantity SMALLINT
);    
```

For the purposes of this notebook I have created test versions of the above. The idea being that the Extract_Script.py script will add to the database and the test versions are for experimenting in the notebooks.

In [ ]:
# Testing connection to database

from config import config

def connect():
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # read connection parameters
        params = config()

        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params)
		
        # create a cursor
        cur = conn.cursor()
        
	# execute a statement
        print('PostgreSQL database version:')
        cur.execute('SELECT version()')

        # display the PostgreSQL database server version
        db_version = cur.fetchone()
        print(db_version)
       
	    # close the communication with the PostgreSQL
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()
            print('Database connection closed.')


if __name__ == '__main__':
    connect()

In [ ]:
import credentials
username = credentials.username
password = credentials.password
database = credentials.database
engine = create_engine('postgresql+psycopg2://{}:{}@localhost/{}'.format(username, password, database))

In [ ]:
df_order_details.to_sql('order_details_test', con = engine, if_exists='append', index=False)

In [ ]:
df_delivered.dtypes

In [ ]:
df_delivered.to_sql('delivered_items_test', con = engine, if_exists='append', index=False)

In [ ]:
df_unavail.to_sql('unavailable_items_test', con = engine, if_exists='append', index=False)

To test they have inserted correctly:

In [ ]:
%load_ext sql

In [ ]:
sqlalchemy.create_engine('postgresql+psycopg2://{}:{}@localhost/{}'.format(username, password, database))

In [ ]:
%sql postgresql+psycopg2://postgres:password@localhost/groceries

In [ ]:
%%sql

SELECT * FROM order_details_test

In [ ]:
%%sql

SELECT * FROM delivered_items_test

In [ ]:
%%sql

SELECT * FROM unavailable_items_test

# Updated email template

The formatting of the email changed for my order on 08/07/20. I will therefore Try and change my extraction method below. For my extract_script.py I will add in a condition that checks the subject line, as the subject has been changed from _'Your Updated ASDA Groceries Order'_ to _'Order Receipt'_

In [8]:
with open('Order Receipt.eml', 'r') as file:
   
   msg2 = email.message_from_file(file, policy=default)